<div class="container-fluid clashfinder">
    <div class="row">
        <div class="labels">
            <div class="timelabel">
                {{ date }}
            </div>
            {% if shortDay is not defined %}
                <div class="clash-stagename">
                    The Checkatrade Stage
                </div>
            {% endif %}
            <div class="clash-stagename">
                Vocal<span style="font-size:0">-</span>zone Stage
            </div>
            <div class="clash-stagename">
                The Greyhound Stage
            </div>
            <div class="clash-stagename">
                Fourth Stage
            </div>
            <div class="clash-stagename">
                Teddy Raves <small>Silent Disco</small> <small>Channel 1</small>
            </div>
            <div class="clash-stagename">
                Teddy Raves <small>Silent Disco</small> <small>Channel 2</small>
            </div>
        </div>
        <div class="stages {{ shortDay is defined ? 'shortDay' : '' }}">
            <div class="current" style="display:none">

            </div>
            <div class="time">
                {% if shortDay is not defined %}
                    <span class="hour">11:00 AM</span>
                    <span class="hour">12:00 PM</span>
                    <span class="hour">1:00</span>
                    <span class="hour">2:00</span>
                    <span class="hour">3:00</span>
                    <span class="hour">4:00</span>
                {% endif %}
                <span class="hour">5:00</span>
                <span class="hour">6:00</span>
                <span class="hour">7:00</span>
                <span class="hour">8:00</span>
                <span class="hour">9:00</span>
                <span class="hour">10:00</span>
                <span class="hour">11:00 PM</span>
            </div>
            {% if shortDay is not defined %}
                <div class="clash-stage" id="stage1">
                </div>
            {% endif %}
            <div class="clash-stage" id="stage2">
            </div>
            <div class="clash-stage" id="stage3">
            </div>
            <div class="clash-stage" id="stage4">
            </div>
            <div class="clash-stage" id="disco1">
            </div>
            <div class="clash-stage" id="disco2">
            </div>
        </div>
    </div>
</div>