<div id="mySidenav" class="sidenav">
    <span class="closebtn" onclick="closeNav()">&times;</span>
    <span class="spacer"></span>
    <a href="https://teddyrocks.co.uk/lineup">Clashfinder</a>
    <a href="https://teddyrocks.co.uk">Teddy Rocks Website</a>
    <div class="poiSection">
        <span class="poiHeading">Useful Locations</span>
        {% if backstage is defined %}
            <span class="poi" data-title="Backstage HQ" data-lat="50.812769" data-lng="-2.194715">Backstage HQ</span>
        {% endif %}
        <span class="poi" data-title="Box Office" data-lat="50.813587" data-lng="-2.194899">Box Office</span>
        <span class="poi" data-title="Welfare Tent" data-lat="50.813728" data-lng="-2.193873">Welfare & Security </span>
        <span class="poi" data-title="Lost Property" data-lat="50.813728" data-lng="-2.193873">Lost Property</span>
        <span class="poi" data-title="Arena Toilets" data-lat="50.812947" data-lng="-2.194386">Arena Toilets </span>
        <span class="poi" data-title="Bus Stop" data-lat="50.813235" data-lng="-2.196965">Bus Stop</span>

    </div>
    <div class="poiSection">
        <span class="poiHeading">Stages</span>
        <span class="poi" data-title="Checkatrade Stage" data-lat="50.813298" data-lng="-2.194701">Checkatrade Stage</span>
        <span class="poi" data-title="Vocalzone Stage" data-lat="50.812929" data-lng="-2.193942">Vocalzone Stage</span>
        <span class="poi" data-title="Greyhound Stage" data-lat="50.813215" data-lng="-2.193041">Greyhound Stage</span>
        <span class="poi" data-title="Fourth Stage" data-lat="50.814154" data-lng="-2.194510">Fourth Stage</span>
        <span class="poi" data-title="Teddy Raves Silent Disco" data-lat="50.813818" data-lng="-2.192924">Silent Disco</span>
    </div>
</div>