<img class="thing" src="/img/map/bus.png" data-title="Shuttle Bus Stop" data-width="25" data-lat="50.813235" data-lng="-2.196965">

{#Backstage#}

{% if backstage is defined %}
    <img class="thing" src="/img/map/gate1.png" data-title="Car Park Gate" data-width="25" data-lat="50.814191" data-lng="-2.199145">
    <img class="thing" src="/img/map/gate2.png" data-title="Production Gate" data-width="25" data-lat="50.812658" data-lng="-2.194341">
    <img class="thing" src="/img/map/gate3.png" data-title="Production-VIP Gate" data-width="25" data-lat="50.813191" data-lng="-2.195032">
    <img class="thing" src="/img/map/gate4.png" data-title="VIP Gate" data-width="25" data-lat="50.813611" data-lng="-2.194624">
    <img class="thing" src="/img/map/gate5.png" data-title="Main Public Gate" data-width="25" data-lat="50.813734" data-lng="-2.194527">
    <img class="thing" src="/img/map/gate6.png" data-title="4th Stage Day Gate" data-width="25" data-lat="50.813857" data-lng="-2.194369">
    <img class="thing" src="/img/map/gate7.png" data-title="Campsite-Arena Gate" data-width="25" data-lat="50.813974" data-lng="-2.194165">
    <img class="thing" src="/img/map/gate8.png" data-title="Campsite Service Gate" data-width="25" data-lat="50.814664" data-lng="-2.193940">
    <img class="thing" src="/img/map/gate9.png" data-title="4th Stage Night Gate" data-width="25" data-lat="50.814177" data-lng="-2.194867">
    <img class="thing" src="/img/map/gate10.png" data-title="Main Car Park Gate" data-width="25" data-lat="50.813979" data-lng="-2.195820">
    <img class="thing" src="/img/map/gate11.png" data-title="Bus Stop Gate" data-width="25" data-lat="50.812697" data-lng="-2.196771">
    <img class="thing" src="/img/map/gate12.png" data-title="Main Stage-Arena Gate" data-width="25" data-lat="50.813052" data-lng="-2.194690">
{% endif %}

{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8133301, -2.1941368" data-title="FOH" ></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8133551, -2.1945683" data-title="stage1" ></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8136411, -2.1945452" data-title="end of BO fence"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8134013, -2.1949546" data-title="VIP backstage gate" ></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8131314, -2.1950655" data-title="VIP area corner" ></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8135566, -2.1952523" data-title="Box office service dide" ></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8134308, -2.1955195" data-title="arena corridor corner" ></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8139947, -2.1956211" data-title="Campsite gate"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8145595, -2.1937003" data-title="camp toilets"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8146821, -2.1935585" data-title="camp water"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8144389, -2.1940456" data-title="Camp exit"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8139155, -2.1942210" data-title="camp arena walk way entrance"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8135704, -2.1940775" data-title="corner of tree fence"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8135060, -2.1938069" data-title="merch"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8134642, -2.1938461" data-title="band merch"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8130295, -2.1936242" data-title="vocal zone middle"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8131524, -2.1931136" data-title="welfare"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8130295, -2.1936242" data-title="vocal zone middle"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8131524, -2.1931136" data-title="welfare"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8133454, -2.1929275" data-title="Greyhound"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8134454, -2.1933161" data-title="zorb"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8137570, -2.1928111 " data-title="raves"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8139142, -2.1930921" data-title="breakfast engine"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8137282, -2.1934512" data-title="zorb2"></span>#}

{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.8127315, -2.1945740" data-title="hq"></span>#}
{#<span style="width:20px;height:20px;background:white;" class="thing" data-width="14" data-latlng="50.812641, -2.194334" data-title="gate"></span>#}
