<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex">
    <meta content='width=device-width, initial-scale=1, maximum-scale=2 user-scalable=1' name='viewport'/>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/map.css">
    {% block head %}
    {% endblock %}
</head>
<body style="margin:0;">
    <div id="wrapper">
        <div style="position:relative">
            <div id="map">
                {% include 'map/includes/things.html.twig' %}

                <div id="adminbear" class="adminbear" style="display:none">
                    <span id="bearname" class="bearname"></span>
                </div>

                <img id="bear" src="/img/map/tedhead2.png" class="bear">

                <div id="openMenu" onclick="openNav()">
                    <div class="hamburger-menu"></div>
                </div>
                <div id="share" style="display:none">
                    <a class="btn" id="sharebutton">
                        Share Location With Friends
                    </a>
                </div>
                <div id="notSharing" style="display:none">
                    Please share your location with the browser to see your position on this map.
                </div>
            </div>

            <div id="poi"><span id="poititle"></span></div>

            {% include 'map/includes/nav.html.twig' %}
        </div>
    </div>

{% block js %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-57913771-1', 'auto');
        ga('send', 'pageview');

    </script>
{% endblock %}

</body>
</html>