{% extends "map/base.html.twig" %}

{% block head %}
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
{% endblock %}

{% block js %}
<script>

    var pusher = new Pusher('bc5351d0cb0dddf46b02', {
        cluster: 'eu',
        encrypted: true
    });

    {% if isAdmin is not defined %}
        var bearId = getCookie('bearId');
        if (typeof bearId === 'undefined') {
            bearId = '{{ id }}';
            createCookie("bearId", bearId, 1);
        }
        console.log(bearId);
    {% endif %}


    function getParameterByName(name, url) {
        if (!url) {
            url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("openMenu").style.display = "none";
        document.getElementById("mySidenav").style.width = "250px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("openMenu").style.display = "block";
        document.getElementById("mySidenav").style.width = "0";
    }

    var moving = false;
    var wrapper = document.getElementById("wrapper");
    var map=document.getElementById("map");

    var bear = document.getElementById('bear');

    var topLeft = {lat: 50.816125, lng: -2.201846};
    var bottomRight = {lat: 50.812201, lng:  -2.191872};

    var notSharing =document.getElementById('notSharing');

//    var topLeftExtreme = {lat: 50.825247, lng: -2.215851};
//    var bottomRightExtreme = {lat: 50.801448, lng:  -2.175486};

    var mapimage = "url('/map-new.svg')";
    {% if backstage is defined %}
        mapimage = "url('/map-new-backstage.svg')";
    {% endif %}

    var wmultiplier = 0;
    var hmultiplier = 0;

    var heightDiff =  Math.abs(topLeft.lat - bottomRight.lat);
    var widthDiff = Math.abs(topLeft.lng - bottomRight.lng);

    var hstretch = 1.56;

    if(window.innerHeight > window.innerWidth)
    {
        wmultiplier = window.innerHeight/(heightDiff*hstretch);
        hmultiplier = wmultiplier * hstretch;
    } else {
        wmultiplier = window.innerWidth / widthDiff;
        hmultiplier = wmultiplier * hstretch;
    }
    wmultiplier = wmultiplier *3;
    hmultiplier = hmultiplier *3;
    //    wmultiplier = 100000;
    //    hmultiplier = 100000;

    heightDiff = (heightDiff * hmultiplier);
    widthDiff = (widthDiff * wmultiplier);

    window.onload = function() {

        setInterval(function(){
            var bears = $('.activeBear');
            var now = new Date().getTime();
            if(bears.length > 0) {
                $.each(bears, function(index, bear){
                    bear = $(bear);
                    if ((now -  bear.data('updated')) > 60000) {
                        bear.remove();
                    }
                });
            }
        }, 30000);

        wrapper.style.height = window.innerHeight+"px";
        wrapper.style.width = window.innerWidth+"px";


        var poi = document.getElementById("poi");
        poi.addEventListener("click", function(event){
            poi.style.display = 'none';
        });
        var pois = document.getElementsByClassName("poi");
        var i;
        for (i = 0; i < pois.length; i++) {
            pois[i].addEventListener("click", function(event){
                var dataset = event.target.dataset;

                var pointHeight =  (Math.abs(topLeft.lat-dataset.lat) * hmultiplier) - 50;
                var pointWidth =  (Math.abs(topLeft.lng-dataset.lng) * wmultiplier) - 50;

                poi.style.left = pointWidth+"px";
                poi.style.top = pointHeight+"px";
                poi.style.display = 'block';

                var poititle = document.getElementById("poititle");
                poititle.innerText = dataset.title;

                if(moving === false){
                    showPoint(poi);
                    setTimeout(function(){
                        if(moving === false) {
                            showPoint(bear);
                        }
                    }, 1900);
                }
                closeNav();
            });
        }
        var things = document.getElementsByClassName("thing");
        for (i = 0; i < things.length; i++) {
            things[i].addEventListener("click", function(event){
                var dataset = event.target.dataset;

                if (typeof dataset.latlng !== 'undefined') {
                    let parts = dataset.latlng.split(',');
                    var lat = parts[0];
                    var lng = parts[1];

                } else {
                    var lat = dataset.lat;
                    var lng = dataset.lng;
                }

                var pointHeight =  (Math.abs(topLeft.lat-lat) * hmultiplier) - 50;
                var pointWidth =  (Math.abs(topLeft.lng-lng) * wmultiplier) - 50;

                poi.style.left = pointWidth+"px";
                poi.style.top = pointHeight+"px";
                poi.style.display = 'block';

                var poititle = document.getElementById("poititle");
                poititle.innerText = dataset.title;
            });
        }

        document.getElementById('sharebutton').addEventListener('click', function (event) {
            document.getElementById("poi").style.display = 'none';
            name = 'A friend ';
            if (navigator.share) {
                navigator.share({
                    title: 'Teddy Rocks Festival Location Share',
                    text: name+' is sharing their location at the Teddy Rocks Festival with you. If you are also at the festival you can see where they are on our map',
                    url: 'https://teddyrocks.co.uk/map?shared='+bearId,
                });
            }
        });

        wrapper.scrollLeft = widthDiff/3;
        wrapper.scrollTop = heightDiff/3;
    };



    function showPoint(element)
    {
        var pointHeight = parseInt(element.style.top, 10);
        var pointWidth = parseInt(element.style.left, 10);
    //    var body = document.body; // For Chrome, Safari and Opera
    //    var html = document.documentElement; // Firefox and IE places the overflow at the <html> level, unless else is specified. Therefore, we use the documentElement property for these two browsers

        scrollTo(wrapper, parseInt(pointHeight - (window.innerHeight / 2) + (element.offsetHeight/2)), parseInt(pointWidth - (window.innerWidth / 2) + (element.offsetWidth/2)),850);

    }

    function scrollTo(element, toTop, toLeft, duration) {

        var lstart = element.scrollLeft;
        var tstart = element.scrollTop;

        var lchange = toLeft - lstart;
        var tchange = toTop - tstart;
        var increment = 20;

        var animateScroll = function(elapsedTime) {
            elapsedTime += increment;
            var lposition = easeInOut(elapsedTime, lstart, lchange, duration);
            var tposition = easeInOut(elapsedTime, tstart, tchange, duration);
            element.scrollLeft = lposition;
            element.scrollTop = tposition;
            if (elapsedTime < duration) {
                moving = true;
                setTimeout(function() {
                    animateScroll(elapsedTime);
                }, increment);
            } else {
                moving = false;
            }
        };

        animateScroll(0);
    }

    function easeInOut(currentTime, start, change, duration) {
        currentTime /= duration / 2;
        if (currentTime < 1) {
            return change / 2 * currentTime * currentTime + start;
        }
        currentTime -= 1;
        return -change / 2 * (currentTime * (currentTime - 2) - 1) + start;
    }

    function loadThings() {

        var x = document.getElementsByClassName("thing");
        var i;
        for (i = 0; i < x.length; i++) {

            var dataset = x[i].dataset;

            if (typeof dataset.latlng !== 'undefined') {
                let parts = dataset.latlng.split(',');
                var lat = parts[0];
                var lng = parts[1];

            } else {
                var lat = dataset.lat;
                var lng = dataset.lng;
            }

            x[i].style.display = 'block';
            var thingWidth = (dataset.width/200000) * wmultiplier;
            x[i].style.width = thingWidth+"px";
            var pointHeight = (Math.abs(topLeft.lat-lat) * hmultiplier) -(x[i].offsetHeight/2);
            var pointWidth = (Math.abs(topLeft.lng-lng) * wmultiplier) -(x[i].offsetWidth/2);

            x[i].style.left = pointWidth+"px";
            x[i].style.top = pointHeight+"px";

        }
    }

    function measure(lat1, lon1, lat2, lon2){  // generally used geo measurement function
        var R = 6378.137; // Radius of earth in KM
        var dLat = lat2 * Math.PI / 180 - lat1 * Math.PI / 180;
        var dLon = lon2 * Math.PI / 180 - lon1 * Math.PI / 180;
        var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
                Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
                Math.sin(dLon/2) * Math.sin(dLon/2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
        var d = R * c;
        return d * 1000; // meters
    }

    if (window.DeviceOrientationEvent) {
        // Listen for the deviceorientation event and handle the raw data
        window.addEventListener('deviceorientation', function(eventData) {

            if(event.webkitCompassHeading) {

                var compassHeading = event.webkitCompassHeading;

                if(compassHeading < 180) {
                    bear.src = '/img/map/tedheadarm-ri.png';
                } else {
                    bear.src = '/img/map/tedheadarm.png';
                }

                compassHeading = compassHeading+90; //account for image being off by 90;

                bear.style.webkitTransform = 'rotate('+compassHeading+'deg)';
                bear.style.mozTransform    = 'rotate('+compassHeading+'deg)';
                bear.style.msTransform     = 'rotate('+compassHeading+'deg)';
                bear.style.oTransform      = 'rotate('+compassHeading+'deg)';
                bear.style.transform       = 'rotate('+compassHeading+'deg)';
            }
        });
    }

    window.addEventListener("resize", function() {
        wrapper.style.height = window.innerHeight+"px";
        wrapper.style.width = window.innerWidth+"px";
    }, false);

    var sendingLocation = false;

    function sendPosition(lat, lng)
    {
        if(sendingLocation === false) {
            sendingLocation = true;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/map/send');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send(encodeURI('lat=' + lat + '&lng=' + lng + "&id=" + bearId ));

            window.setTimeout(function(){
                sendingLocation = false;
            }, 8000);
        }
    }

    function createCookie(name, value, expires, path, domain) {
        var cookie = name + "=" + escape(value) + ";";

        if (expires) {
            // If it's a date
            if(expires instanceof Date) {
                // If it isn't a valid date
                if (isNaN(expires.getTime()))
                    expires = new Date();
            }
            else
                expires = new Date(new Date().getTime() + parseInt(expires) * 1000 * 60 * 60 * 24);

            cookie += "expires=" + expires.toGMTString() + ";";
        }

        if (path)
            cookie += "path=" + path + ";";
        if (domain)
            cookie += "domain=" + domain + ";";

        document.cookie = cookie;
    }

    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }


    {% if isAdmin is not defined %}
        // if(window.location.protocol === "https:") {
        geolocate(); // only works over https
        //}
    {% endif %}


    var fakeLat = 50.813317;
    var fakeLng = -2.194069;

// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {

        if (navigator.geolocation) {
            var firstTime = true;

            map.style.width  = widthDiff+"px";
            map.style.height = heightDiff+"px";
            map.style.backgroundImage = mapimage;
            document.getElementById('map').style.display = 'block';

            loadThings();

            try {
                navigator.geolocation.watchPosition(function(position) {

                    var myLat = position.coords.latitude;
                    var myLng = position.coords.longitude;
                    var pointHeight =  Math.abs(topLeft.lat-myLat) * hmultiplier;
                    var pointWidth =  Math.abs(topLeft.lng-myLng) * wmultiplier;

                    if(myLng > topLeft.lng && myLng < bottomRight.lng && myLat > bottomRight.lat && myLat < topLeft.lat) {

                        bear.style.left = pointWidth -(bear.offsetWidth/2)+"px";
                        bear.style.top = pointHeight  -(bear.offsetHeight/2)+"px";
                        bear.style.display = 'block';
                        bear.dataset.lat = myLat;
                        bear.dataset.lng = myLng;

                        if(firstTime === true) {
                            firstTime = false;
                            showPoint(bear);
                        }
                        {% if backstage is not defined %}
                            if (navigator.share) {
                                document.getElementById('share').style.display = 'block';
                            }
                        {% endif %}

                    } else {
                        bear.style.display = 'none';
                        document.getElementById('share').style.display = 'none';
                    }

                    {% if isAdmin is not defined and sendPosition is defined %}
                        sendPosition(myLat, myLng);
                    {% endif %}

                }, function(error) {
                    notSharing.style.display = 'block';
                }, {
                    enableHighAccuracy: true,
                    timeout: 30000,
                    maximumAge: 0
                });
            } catch(err) {
                notSharing.style.display = 'block';
            }
        }
    }

    {% if sendPosition is defined  %}
        var sharedIds = [];
        var sharedIdList = getCookie('sharedIdList');
        var newSharedId = getParameterByName('shared');
        if(newSharedId){
            if (typeof sharedIdList === 'undefined') {
                createCookie("sharedIdList", JSON.stringify([newSharedId]));
            } else {
                sharedIds = JSON.parse(unescape(sharedIdList));
                if(sharedIds.indexOf(newSharedId) === -1) {
                    sharedIds.push(newSharedId);
                    createCookie("sharedIdList", JSON.stringify(sharedIds));
                }
            }
        }

        if(sharedIds.length > 0) {
            sharedIds.forEach(function (sharedId) {
                var channel = pusher.subscribe('user-'+sharedId);
                channel.bind('bear-move', function(data) {

                    var bearObject = $('#bear-'+data.id);
                    if(!bearObject.length) {
                        bearObject = $('#adminbear').clone();
                        bearObject.removeAttr('id');
                        bearObject.addClass('activeBear');
                        bearObject.attr('id', 'bear-'+data.id);
                        bearObject.css('background-color', getRandomColor());
                        bearObject.appendTo($('#map'));
                        bearObject.data('updated', new Date().getTime());
                        bearObject.show();
                    }
                    var otherbear = bearObject[0];

                    var myLat = data.lat;
                    var myLng = data.lng;

                    var pointHeight =  Math.abs(topLeft.lat-myLat) * hmultiplier;
                    var pointWidth =  Math.abs(topLeft.lng-myLng) * wmultiplier;

                    if(myLng > topLeft.lng && myLng < bottomRight.lng && myLat > bottomRight.lat && myLat < topLeft.lat) {

                        otherbear.style.left = pointWidth -(otherbear.offsetWidth/2)+"px";
                        otherbear.style.top = pointHeight  -(otherbear.offsetHeight/2)+"px";
                        otherbear.style.position = 'absolute';
                        otherbear.style.display = 'block';
                        otherbear.dataset.lat = myLat;
                        otherbear.dataset.lng = myLng;
                        var bearname = $(otherbear).find('.bearname');
                        bearname[0].innerHTML = data.name;
                    }
                });
            });
        }
    {% endif %}

    {% if isAdmin is defined %}
        document.getElementById('share').style.display = 'none';
        map.style.width  = widthDiff+"px";
        map.style.height = heightDiff+"px";
        map.style.backgroundImage = mapimage;

        var channel = pusher.subscribe('master');
        channel.bind('bear-move', function(data) {

            if(data.id === 'undefined') {
                return;
            }

            var bearObject = $('#bear-'+data.id);
            if(!bearObject.length) {
                bearObject = $('#adminbear').clone();
                bearObject.removeAttr('id');
                bearObject.addClass('activeBear');
                bearObject.attr('id', 'bear-'+data.id);
                bearObject.css('background-color', getRandomColor());
                bearObject.appendTo($('#map'));
                bearObject.data('updated', new Date().getTime());
                bearObject.show();
            }
            bear = bearObject[0];

            var myLat = data.lat;
            var myLng = data.lng;

            var pointHeight =  Math.abs(topLeft.lat-myLat) * hmultiplier;
            var pointWidth =  Math.abs(topLeft.lng-myLng) * wmultiplier;

            if(myLng > topLeft.lng && myLng < bottomRight.lng && myLat > bottomRight.lat && myLat < topLeft.lat) {

                bear.style.left = pointWidth -(bear.offsetWidth/2)+"px";
                bear.style.top = pointHeight  -(bear.offsetHeight/2)+"px";
                bear.style.position = 'absolute';
                bear.style.display = 'block';
                bear.dataset.lat = myLat;
                bear.dataset.lng = myLng;
                var bearname = $(bear).find('.bearname');
                bearname[0].innerHTML = data.name;
            }
        });
    {% endif %}


    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        color += letters[Math.floor(Math.random() * 16)];
        color += letters[Math.floor(Math.random() * 16)];
        color += letters[Math.floor(Math.random() * 16)];
        color += letters[Math.floor(Math.random() * 16)];
        color += letters[Math.floor(Math.random() * 16)];
        color += letters[Math.floor(Math.random() * 16)];
        return color;
    }

</script>

{% endblock %}

