{% extends "layout.html.twig" %}

{% block content %}

    <div class="container-fluid gradient-bg error-page">
        <div class="col-md-8 col-md-offset-2">
            <p class="heading no-underline">404</p>
            <p>Ruh Roh! We can't seem to find that page, perhaps we moved it.</p>

            <p><img class="img-responsive bordered" src="/img/sections/oops.jpg"></p>

            <p><a class="btn" href="/">Back to the Homepage</a></p>

            <br> <br> <br>
            <p><small><em>This page is in tribute to the hardest working man alive, Dave - Teddy Rocks Volunteer Manager.</em></small></p>
        </div>
    </div>
{% endblock %}
