{% extends "layout.html.twig" %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <p>Uh oh, something went wrong!</p>

        <p><img class="img-responsive bordered" src="/img/sections/oops.jpg"></p>

        <p>Our team of volunteers are on the case! Please check back in few minutes.</p>

        <p><a class="btn" href="/">Back to the Homepage</a></p>

        <br> <br> <br>
        <p><small><em>This page is in tribute to the hardest working man alive, Dave - Teddy Rocks Volunteer Manager.</em></small></p>
    </div>
{% endblock %}
