
<div class="row row-centered">
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2" style="margin-bottom:20px">
        <img class="img-responsive" src="https://teddyrocks.co.uk/gal/2018/wb/thumbs/20180505_Teddy_Rocks_049.jpg">
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2" style="margin-bottom:20px">
        <img class="img-responsive" src="https://teddyrocks.co.uk/gal/2018//cr/thumbs/CharlieRaven_TeddyRocks2018HR-29.jpg">
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2" style="margin-bottom:20px">
        <img class="img-responsive" src="https://teddyrocks.co.uk/gal/2018//wb/thumbs/20180505_Teddy_Rocks_078.jpg">
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2" style="margin-bottom:20px">
        <img class="img-responsive" src="https://teddyrocks.co.uk/gal/2018//ss/thumbs/Teddy_Rocks_2018_by_sebschofield_(496).jpg">
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 hidden-sm" style="margin-bottom:20px">
        <img class="img-responsive" src="https://teddyrocks.co.uk/gal/2018//cr/thumbs/CharlieRaven_TeddyRocks2018HR-20.jpg">
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 hidden-sm" style="margin-bottom:20px">
        <img class="img-responsive" src="https://teddyrocks.co.uk/gal/2018//ss/thumbs/Teddy_Rocks_2018_by_sebschofield_(23).jpg">
    </div>
</div>
<br>
<p><a class="btn" href="/2018/gallery">View our 2018 Gallery</a></p>