{% set cols = 'col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-6' %}
{% if small is defined %}
    {% set cols = 'col-lg-4 col-md-4 col-sm-3 col-xs-4 col-xxs-6' %}
{% endif %}

<div class="row masonry-container-{{ id }} mb40" itemscope itemtype="http://schema.org/ImageGallery">
    <div id="gallery-{{ id }}">
        {% for image in gallery %}

            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="{{ cols }} item">
                <a class="swipebox thumbnail" href="{{ image.full }}" itemprop="contentUrl">
                    <img class="img-responsive" src="{{ image.thumb }}" itemprop="thumbnail" />
                </a>
            </figure>
        {% endfor %}
    </div>
</div>
