<div class="base-tag">
    <div class="container">
        <div class="trlive row">

            <div class="mainstage">
                {% if day != 'friday'%}
                    {% if live.stage1 is defined and live.stage1 is not empty %}
                        <div class="col-sm-9 screen col-xs-6" style="background-image: url('{{ live.stage1.image }}')">
                            <div class="live">
                                <span class="dot"></span> LIVE
                            </div>
                            <div class="livestagename">
                                The Checkatrade Stage
                            </div>

                            <div class="livebandname">
                                <a href="/lineup">{{ live.stage1.name }}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-sm-9 screen col-xs-6 nothing">
                            <div class="live">
                                <span class="dot"></span> LIVE
                            </div>
                            <div class="livestagename">
                                The Checkatrade Stage
                            </div>
                            <div class="livebandname">
                                <small>Band Changeover</small>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    {% if live.stage2 is defined and live.stage2 is not empty %}
                        <div class="col-sm-9 screen col-xs-6" style="background-image: url('{{ live.stage2.image }}')">
                            <div class="live">
                                <span class="dot"></span> LIVE
                            </div>

                            <div class="livestagename">
                                The Vocalzone Stage
                            </div>

                            <div class="livebandname">
                                <a href="/lineup">{{ live.stage2.name }}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="screen col-sm-9 col-xs-6 nothing">
                            <div class="livestagename">
                                The Vocalzone Stage
                            </div>

                            <div class="livebandname">
                                <small>Band Changeover</small>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="sidebar">
                {% if day != 'friday'%}
                    {% if live.stage2 is defined and live.stage2 is not empty %}
                        <div class="screen col-sm-3 col-xs-6" style="background-image: url('{{ live.stage2.image }}')">

                            <div class="livestagename">
                                The Vocalzone Stage
                            </div>

                            <div class="livebandname">
                                <a href="/lineup">{{ live.stage2.name }}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="screen col-sm-3 col-xs-6 nothing">
                            <div class="livestagename">
                                The Vocalzone Stage
                            </div>

                            <div class="livebandname">
                                <small>Band Changeover</small>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="sidebar">
                    {% if live.stage3 is defined and live.stage3 is not empty%}
                        <div class="screen col-sm-3 col-xs-6" style="background-image: url('{{ live.stage3.image }}')">

                            <div class="livestagename">
                                The Greyhound Stage
                            </div>

                            <div class="livebandname">
                                <a href="/lineup">{{ live.stage3.name }}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="screen col-sm-3 col-xs-6 nothing">
                            <div class="livestagename">
                                The Greyhound Stage
                            </div>

                            <div class="livebandname">
                                <small>Band Changeover</small>
                            </div>
                        </div>
                    {% endif %}

                    {% if live.stage4 is defined and live.stage4 is not empty %}
                        <div class="screen col-sm-3 col-xs-6" style="background-image: url('{{ live.stage4.image }}')">
                            <div class="livestagename">
                                Fourth Stage
                            </div>
                            <div class="livebandname">
                                <a href="/lineup">{{ live.stage4.name }}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="screen col-sm-3 col-xs-6 nothing">
                            <div class="livestagename">
                                Fourth Stage
                            </div>
                            <div class="livebandname">
                                <small>Band Changeover</small>
                            </div>
                        </div>
                    {% endif %}

                    {% if (live.disco1 is defined and live.disco1 is not empty) or (live.disco2 is defined and live.disco2 is not empty) %}
                        <div class="screen col-sm-3 col-xs-6" style="background-image: url('img/live-stages/disco.jpg')">

                            <div class="livestagename">
                                Teddy Raves Silent Disco
                            </div>


                            <div class="livebandname">
                                {% if live.disco1 is defined and live.disco1 is not empty %}
                                    <a href="/lineup">{{ live.disco1.name }}</a>
                                {% endif %}

                                {% if live.disco1 is defined and live.disco1 is not empty and live.disco2 is defined and live.disco2 is not empty %} and {% endif %}

                                {% if live.disco2 is defined and live.disco2 is not empty %}
                                    <a href="/lineup">{{ live.disco2.name }}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="screen col-sm-3 col-xs-6 nothing">
                            <div class="livestagename">
                                Teddy Raves Silent Disco
                            </div>
                            <div class="livebandname">
                                <small>DJ Changeover</small>
                            </div>
                        </div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</div>