<div class="moving-header">
    <nav class="navbar">
        <div class="brand-centered">
            <a class="navbar-brand hvr-buzz" href="/"><img src="/img/logos/{{ year }}.png" srcset="/img/logos/{{ year }}.png 1x, /img/logos/{{ year }}@2x.png 2x" alt="Teddy Rocks Logo">
            </a>
        </div>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                {% if year == 2013 or year == 2014 or year == 2015 or year == 2016 or year == 2017 or year == 2018 %}
                    <li><a href="{{ path('gallery', {year: year}) }}">Gallery</a></li>
                {% endif %}
                {% if year == 2017 or year == 2016 or year == 2015 %}
                    <li><a href="{{ path('videos', {year: year}) }}">Videos</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('homepage') }}">Back to {{ activeYear }}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ year }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for yearLink in years %}
                            {% if yearLink == activeYear %}
                                <li><a class="nav-link-{{ yearLink }}" href="{{ path('homepage') }}">{{ yearLink }}</a></li>
                            {% else %}
                                <li><a class="nav-link-{{ yearLink }}" href="{{ path('archive-home', {year: yearLink}) }}">{{ yearLink }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="strapline">
    <h1>Fighting Children's Cancer With Rock</h1>
</div>