<div class="moving-header">
    <nav class="navbar">
        <div class="brand-centered">
            {% if year > 2018 %}
            <a class="navbar-brand hvr-buzz" href="/"><span class="logo-image"></span>
            {% else %}
                 <a class="navbar-brand hvr-buzz" href="/"><img src="/img/logos/{{ year }}.png" srcset="/img/logos/{{ year }}.png 1x, /img/logos/{{ year }}@2x.png 2x" alt="Teddy Rocks Logo">
             {% endif %}
            </a>
        </div>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                {#<li><a href="{{ path('lineup') }}">Lineup</a></li>#}
                <li><a href="{{ path('tickets') }}">Tickets</a></li>
                <li><a href="{{ path('info') }}">Info</a></li>
                <li><a href="{{ path('get-involved') }}">Get Involved</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/{{ year-1 }}/gallery">Gallery</a></li>
                <li><a href="{{ path('story') }}"><span class="hidden-sm">Our </span>Story</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ year }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for yearLink in years %}
                            {% if year != yearLink %}
                                {% if yearLink == activeYear %}
                                    <li><a class="nav-link-{{ yearLink }}" href="{{ path('homepage', {year: yearLink}) }}">{{ yearLink }}</a></li>
                                {% else %}
                                    <li><a class="nav-link-{{ yearLink }}" href="{{ path('archive-home', {year: yearLink}) }}">{{ yearLink }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="strapline">
    <h1>Fighting Children's Cancer With Rock <span class="emodjirock">🤘</span><span style="display:none" class="emodjidown">👇</span></h1>
    <p class="location">
        <span class="dates">3rd May - 5th May 2019</span><br>
        <a href="https://www.google.co.uk/maps/place/Charisworth+Farm/@50.8155748,-2.202471,17z/data=!4m5!3m4!1s0x4873ad786748a97b:0xa0a8cd4771d37dce!8m2!3d50.816734!4d-2.202235"><img src="/img/pin.png"> Charisworth Farm, Blandford, Dorset</a>
    </p>
</div>
<canvas id="world"></canvas>