<div class="container-sponsors">
    <div class="container-fluid">
        <p>Teddy Rocks 2018 would not have been possible without our fantastic partners and sponsors</p>
        <div class="sponsors">
            <div>
                <a target="_blank" rel="noopener" href="http://www.checkatrade.com/"><img src="/img/sponsors/checkatrade.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.vocalzone.com/"><img src="/img/sponsors/vocalzone.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://greyhound-blandford.co.uk/"><img src="/img/sponsors/greyhound.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="https://www.damory.co.uk/"><img src="/img/sponsors/damory.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.mvsblandford.co.uk/"><img src="/img/sponsors/mvs.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="https://www.facebook.com/Forumfilmsprod//"><img src="/img/sponsors/ff.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.ghostfx.co.uk/"><img src="/img/sponsors/ghost.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.weaudio.co.uk/"><img src="/img/sponsors/we.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="https://www.powerandpyro.co.uk/"><img src="/img/sponsors/pyroandpower.jpg"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://edenamps.com"><img src="/img/sponsors/eden.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://marshallamps.com/"><img src="/img/sponsors/marshall.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.resn8.co.uk/"><img src="/img/sponsors/resn8-2.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://cphscaffolding.co.uk/"><img src="/img/sponsors/cph.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.insightsecurityservices.co.uk/"><img src="/img/sponsors/insight.jpg"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.amberontm.com/"><img src="/img/sponsors/amberon.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.horderproperty.co.uk/"><img src="/img/sponsors/horder.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.atlasblandford.co.uk/"><img src="/img/sponsors/atlas.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="https://www.idcband.com/"><img src="/img/sponsors/idandc.jpg"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.jerrysblandfordforum.co.uk/"><img src="/img/sponsors/jerrys.jpg"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="https://www.specsavers.com/"><img src="/img/sponsors/specsaver.jpg"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="https://www.investsouthwest.co.uk/"><img src="/img/sponsors/invest.jpg"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.bmvleisure.co.uk/"><img src="/img/sponsors/blackmore.jpg"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.rlukinsfitness.co.uk/"><img src="/img/sponsors/rlukins.jpg"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="https://www.sleekandchichairdesign.co.uk/"><img src="/img/sponsors/sleekchic.jpg"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.elitefaw.co.uk/"><img src="/img/sponsors/elite.jpg"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://branksomeparkcare.co.uk/"><img src="/img/sponsors/carecentre.jpg"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="https://www.avonmaterialsupplies.co.uk"><img src="/img/sponsors/ams.jpg"></a>
            </div>
            {#<div>#}
                {#<a target="_blank" rel="noopener" href="http://www.blandfordplumbingservices.com/"><img src="/img/bph.png"></a>#}
            {#</div>#}
            <div>
                <a target="_blank" rel="noopener" href="https://www.facebook.com/BeechwoodServiceCentre/"><img src="/img/sponsors/beechwood.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.splashdownwaterparks.co.uk/"><img src="/img/sponsors/splashdown.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.pitmansremovals.co.uk/"><img src="/img/sponsors/pitmans.png"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.area-55.com/"><img src="/img/sponsors/area55.jpg"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://tigertea.net/"><img src="/img/sponsors/tigertea.jpg"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.sydenhams.co.uk/"><img src="/img/sponsors/syd.jpg"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="https://www.howdens.com/"><img src="/img/sponsors/howdens.jpg"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.transcend-marketing.co.uk/"><img src="/img/sponsors/transcend.jpg"></a>
            </div>
            <div>
                <a target="_blank" rel="noopener" href="http://www.dmaplumbing.co.uk/"><img src="/img/sponsors/dmaltd.jpg"></a>
            </div>
            <div>
                <img src="/img/sponsors/vets.jpeg">
            </div>
        </div>
        <p>
            <a target="blank" href="https://onbuy.com"><img alt="onbuy.com" src="/img/sponsors/on-buy-medium.png"></a><br><br>
            <a class="btn" href="{{ path('sponsor') }}">Sponsor Teddy Rocks 2019</a></a>
        </p>
    </div>
</div>