<div class="tagline-bottom container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <img class="teddy-balloons" src="/img/teddy20_logo.png">
            <div class="teddy20-box">
                <small>An event by</small>
                <p><img src="/img/teddy20_words.png" alt="Teddy20 Supporting Children With Cancer"></p>
                <p>Registered Charity in England and Wales 1174553</p>
                <a class="btn btn-external white" target="_blank" rel="noopener" href="http://teddy20.org"><span class="hidden-xs">Visit the </span>Charity Website</a>  <a class="btn btn-external white" target="_blank" rel="noopener" href="https://uk.virginmoneygiving.com/charity-web/charity/displayCharityCampaignPage.action?campaignId=6013&charityId=1014289">Donate Online</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>