<div class="totaliser">

    {% if current is defined %}
        <small>Since 2011, We have now raised</small>
    {% else %}
        <small>By {{ year }} we had raised</small>
    {% endif %}
    <div class="total">
        {% spaceless %}
        <span>&pound;</span>
            {% for digit in total|split('') %}
                {% if digit == ',' %}
                    <span class="comma">,</span>
                {% else %}
                    <span class="digit" data-val="{{ digit }}">0</span>
                {% endif %}
            {% endfor %}
        {% endspaceless %}
    </div>

    <small>To help fight children's cancer</small>
</div>