@font-face {
    font-family: 'heading';
    src: url('../fonts/cubano/cubano-regular-webfont.eot');
    src: url('../fonts/cubano/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cubano/cubano-regular-webfont.woff') format('woff'),
    url('../fonts/cubano/cubano-regular-webfont.ttf') format('truetype'),
    url('../fonts/cubano/cubano-regular-webfont.svg#CubanoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
    overflow: hidden;
    position: fixed;
}
body{
    position: fixed;
    overflow: hidden;
    line-height: 1.5em;
    background: black;
}
#wrapper{
    text-transform: uppercase;
    font-family: heading, sans-serif;
    color: white;
    font-size: 24px;
    width:100%;
    line-height: 1.5em;
    height: 500px;
    /*position: fixed;*/
    overflow:auto;
    background-color: #ba9e38;
    /*background-image:url('/img/map/tile.jpg');*/
}
#map{
    color: white;
    width:100%;
    height:500px;
    text-align: center;
    text-transform: uppercase;
    font-family: teddyrocks, heading, sans-serif;
    position: relative;
    background-size: cover;
}
.bear{
    display:none;
    position:absolute;top:0;left:0;
    width:80px;
    pointer-events: none;
}
#otherbear{
    opacity: 0.7;
    display:none;
    position:absolute;top:0;left:0;
    width:80px;
    pointer-events: none;
}
#poi{
    display:none;
    position:absolute;top:0;left:0;
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.3);
    border: 3px solid rgba(0,0,0,0.3);
    border-radius: 50%;
}
#poititle{
    display:block;
    font-size: 20px;
    margin-left:-40px;
    margin-right: -40px;
    margin-top:-40px;
    text-align: center;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    line-height: 1.3em;
}
#loading {
    width:92%;
    padding:4%;
    font-family: helvetica, arial, sans-serif;
    text-transform: none;
    color: white;
    text-align: center;
    background:black;
    position: fixed;
    height:96%;
    font-size: 20px;
    line-height: 1.5em;
}
#bad-location {
    height:96%;
    position: fixed;
    background:black;
    width:92%;
    padding:4%;
    font-family: helvetica, arial, sans-serif;
    text-transform: none;
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 1.5em;
}
#no-location {
    height:96%;
    position: fixed;
    background:black;
    width:92%;
    padding:4%;
    color: white;
    text-align: center;
    font-family: helvetica, arial, sans-serif;
    text-transform: none;
    font-size: 20px;
    line-height: 1.5em;
}
#bad-location .demo {
    height: 75%;
    position: absolute;
    top: 20px;
    left: 20px;
}
#bad-location .message {
    padding: 2%;
    position: absolute;
    width: 96%;
    bottom: 10%;
    right:0;
    background: rgba(0,0,0,0.8);
}
#bad-location .message p{
    margin-top:4px;
}
.heading {
    font-size: 26px;
    line-height: 1.5em;
    text-transform: uppercase;
    font-family: heading, sans-serif;
}
.poiSection{
    width: 250px;
    margin-bottom: 15px;
}
.poiHeading{
    display:block;
    font-family: teddyrocks, heading, sans-serif;
    text-align:left;
    padding: 4px 0 0 10px;
}
.poi{
    text-align:left;
    color: white;
    padding: 10px 16px 10px 10px;
    border: 2px solid white;
    display: block;
    font-size: 18px;
    cursor:pointer;
    font-family: heading, sans-serif;
    margin:10px;
    z-index: 3;
    margin-right: 25px;
}
.poi small{
    pointer-events: none;
}
.sidenav {
    font-size: 16px;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav a{
    text-align:left;
    background: #69b488;
    color: black;
    width:210px;
    text-decoration: none;
    display:block;
    margin: 10px 16px 10px 10px;
    font-family: heading, sans-serif;
    padding:10px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
    cursor:pointer;
    padding: 20px 25px 10px 10px;
    color: white;
}
.sidenav .spacer{
    display:block;
    height: 60px;
}
#openMenu {
    top: 0;
    left: 0;
    cursor:pointer;
    font-size: 20px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    position: fixed;
    font-family: heading, sans-serif;
    height: 65px;
    width: 65px;
    background: url('/img/map/search.png') no-repeat center center #000;
    border-bottom-right-radius: 15px;
}
.thing{
    position: absolute;
    top: 0;
    left: 0;
    display:none;
}
.label {
    position: absolute;
    display:none;
}
a.btn {
    background-color: #a6db16;
    border-color: #a6db16;
    color: black;
    text-transform: uppercase;
    font-family: heading, serif;
    border-radius: 0;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 30px;
    z-index: 3;
}

#share {
    width: 100%;
    position: fixed;
    bottom:0;
    right:0;
    background-color:black;
    line-height: 1em;
    color: white;
}

#share a.btn{
    display:block;
    font-size: 17px;
    padding: 20px;
    margin:0;
    float:right;
    width: 150px;
    bottom: 0;
    right: 0;
    position: absolute;
    color: white;
    background-color: black;
    border-top-left-radius: 15px;
}

.share-settings {
    font-size: 30px;
    position: absolute;
    bottom: 0;
    padding: 5px;
    right: 110px;
    background: #222;
}

.activeBear{
    display:none;
    position:absolute;top:0;left:0;
    width:20px;
    height: 20px;
    pointer-events: none;
    background-color: black;
    border-radius: 50%;
    border: 2px solid black;
}

.bearname{
    font-size: 15px;
    position: absolute;
    display: block;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#notSharing {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: black;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
}

textarea, input, button { outline: none; }