{% extends "layout.html.twig" %}

{% block content %}

    <div class="gradient-bg container-fluid">
        <div class="container activities">
            <h1 class="heading text-center">Things To Do</h1>
            <p>Activities information coming soon.</p>
            {#<div class="row">#}
                {#<div class="col-md-4">#}
                    {#<div class="activity">#}
                        {#<img class="blazy img-responsive" src="/img/activities/raves.jpg">#}
                        {#<p>Teddy Raves Silent Disco</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-4">#}
                    {#<div class="activity">#}
                        {#<img class="blazy img-responsive" src="/img/activities/greyhoundbar.jpg">#}
                        {#<p>The Greyhound Bar</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-4">#}
                    {#<div class="activity">#}
                        {#<img class="blazy img-responsive" src="/img/activities/tatoos.jpg">#}
                        {#<p>Tattoos</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-md-4">#}
                    {#<div class="activity">#}
                        {#<img class="blazy img-responsive" src="/img/activities/trade.jpg">#}
                        {#<p>Trade Stalls</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-4">#}
                    {#<div class="activity">#}
                        {#<img class="blazy img-responsive" src="/img/activities/jousting.jpg">#}
                        {#<p>Gladiator Jousting</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-4">#}
                    {#<div class="activity">#}
                        {#<img class="blazy img-responsive" src="/img/activities/zorb.jpg">#}
                        {#<p>Bubble Football / Dodgeball Arena</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-md-4">#}
                    {#<div class="activity">#}
                        {#<img class="blazy img-responsive" src="/img/activities/bull.jpg">#}
                        {#<p>Mechanical Bull</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-4">#}
                    {#<div class="activity">#}
                        {#<img class="blazy img-responsive" src="/img/activities/food.jpg">#}
                        {#<p>Food Stalls</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-4">#}
                    {#<div class="activity">#}
                        {#<img class="blazy img-responsive" src="/img/activities/facepainting.jpg">#}
                        {#<p>Face Painting</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-md-4">#}
                    {#<div class="activity">#}
                        {#<img class="blazy img-responsive" src="/img/activities/hairbraiding.jpg">#}
                        {#<p>Hair Braiding</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-4">#}
                    {#<div class="activity">#}
                        {#<img class="blazy img-responsive" src="/img/activities/drinks.jpg">#}
                        {#<p>Drinks Vendors</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-4">#}
                    {#<div class="activity">#}
                        {#<p>and more to come!</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
        <p class="text-center"><a class="btn btn-primary btn-large" href="/tickets">Buy Tickets</a></p>
    </div>

{% endblock %}