{% extends "layout.html.twig" %}

{% block head %}
    <link href="{{ asset('clashfinder.css', 'css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container lineup no-move-header">

        <h1 class="heading no-underline">2018 Lineup</h1>

        <p style="color:white">Select an artist to save them as a favourite</p>

        {#<div class="moving-tabs moving-fix">#}
            <div class="row">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active">
                        <a class="friday" href="#friday" data-toggle="tab">
                            Friday<br><small class="hidden-xs">4th May</small>
                        </a>
                    </li>
                    <li>
                        <a class="saturday" href="#saturday" data-toggle="tab">
                            Saturday<br><small class="hidden-xs">5th May</small>
                        </a>
                    </li>
                    <li>
                        <a class="sunday" href="#sunday" data-toggle="tab">
                            Sunday<br><small class="hidden-xs">6th May</small>
                        </a>
                    </li>
                </ul>
            </div>
        {#</div>#}
    </div>

    <div class="tab-content lineup" style="margin-top:120px;">
        <div class="tab-pane active" id="friday">
            {% include 'lineups/clashfinder.html.twig' with {'date': '4th May', 'shortDay': true }%}
        </div>
        <div class="tab-pane" id="saturday">
            {% include 'lineups/clashfinder.html.twig' with {'date': '5th May'}%}
        </div>
        <div class="tab-pane" id="sunday">
            {% include 'lineups/clashfinder.html.twig' with {'date': '6th May'}%}
        </div>

    </div>
    <div id="bandTemplate" style="display: none">
        <div class="name">

        </div>
        <div class="times">

        </div>
    </div>
    <div style="margin:20px;">
        <p class="text-center">
            <a class="btn btn-primary btn-large" href="/lineup">Lineup List</a>
            <a class="btn btn-primary btn-large" href="/tickets">Buy Tickets</a>
        </p>
    </div>
{% endblock %}
{% block footer_js %}
    <script>
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });

        var initstoredbands = JSON.parse(localStorage.getItem("bands"));
        $.getJSON("/clashfinder/json", function(json) {
            $.each(json, function(day, stages){
                $.each(stages, function(id, stage){
                    $.each(stage.bands, function(band, times){

                        if(band === 'newbands') {
                            $.each(times, function(newband, newtimes) {
                                showBand(id, day, newband, newtimes);
                            });
                        } else {
                            showBand(id, day, band, times);
                        }
                    });
                });
            });
            updateCurrent();
            setInterval(function(){
                updateCurrent();
            }, 60000);
        });

        function showBand(id, day, band, times)
        {
            var startHour = times.start.substr(0, 2);
            if(startHour > 12) {
                startHour = startHour - 12
            }
            var endHour = times.end.substr(0, 2);
            if(endHour > 12) {
                endHour = endHour - 12
            }

            var start = startHour+':'+times.start.substr(2, 2);
            var end = endHour+':'+times.end.substr(2, 2);

            var template = $('#bandTemplate').clone().removeAttr('id').addClass('band');
            template.find('.name').text(band);
            if(times.label){
                template.find('.name').text(times.label);
            }
            if(times.long){
                template.find('.name').addClass('long');
            }

            template.find('.times').html(start+'<br>'+end);
            template.data('bandname', band);

            var startInMins = parseInt((times.start.substr(0, 2) * 60) + parseInt(times.start.substr(2, 2)));

            var left = ((startInMins - 660) / 60) * 100 * 1.75;
            if (day === 'friday') {
                left = left - 1050;
            }

            template.css('left', left);
            template.css('width', (times.duration / 60) * 100 * 1.75);
            template.show();

            if(typeof initstoredbands === 'undefined' || initstoredbands === null || typeof initstoredbands[0] === 'undefined'){

                if(randomNumberFromRange(1,5) > 4) {
                    setTimeout(function(){
                        template.addClass('selected');
                    }, randomNumberFromRange(300,1000));

                    setTimeout(function(){
                        template.removeClass('selected');
                    }, randomNumberFromRange(1500,2000));
                }

            } else {
                $.each(initstoredbands, function(index, storedband){
                    if(day+' '+band === storedband) {
                        template.addClass('selected');
                    }
                });
            }

            template.appendTo($('#'+day).find('#'+id));

            template.on('click', function(){
                if (typeof(Storage) !== "undefined") {
                    var storedbands = JSON.parse(localStorage.getItem("bands"));

                    var thisband = day+' '+$(this).data('bandname');
                    if(storedbands){
                        if ($(this).hasClass('selected')) {
                            var itemToRemove = storedbands.indexOf(thisband);
                            if (itemToRemove > -1) {
                                storedbands.splice(itemToRemove, 1);
                            }
                        } else {
                            storedbands.push(thisband);
                        }
                    } else {
                        storedbands = [];
                    }
                    storedbands = storedbands.filter(onlyUnique);
                    localStorage.setItem("bands", JSON.stringify(storedbands));
                }
                $(this).toggleClass('selected');

                if($(this).hasClass('selected')) {
                    $.ajax({
                        type: "POST",
                        url: "/lineup/favourite/",
                        data: {
                            "band" : band
                        },
                        success: function (data, status) {
                            //
                        },
                        error: function () {
                            //
                        }
                    });
                }
            });
        }

        function updateCurrent()
        {
            var d = new Date();

            //var d = new Date("2018-05-04T18:24:51");
            var day;
            if(d.getDate() === 4){
                day = 'friday';
            } else if(d.getDate() === 5){
                day = 'saturday';
            } else if(d.getDate() === 6){
                day = 'sunday';
            }
            var currentInMins = parseInt(d.getHours() * 60) + parseInt(d.getMinutes());
            $('a[href="#'+day+'"]').trigger('click');

            var left = (((currentInMins - 660) / 60) * 100 * 1.75);
            if (day === 'friday') {
                left = left - 475;
            }

            $('#'+day).find('.current').show().css('left', left);
            if (day === 'friday') {
                left = left - 475;
            }

            $('#'+day).find('.current').show().css('left', left);
            $('#'+day).find('.stages').scrollLeft(left);
        }

        function onlyUnique(value, index, self) {
            return self.indexOf(value) === index;
        }
        function randomNumberFromRange(min,max)
        {
            return Math.floor(Math.random()*(max-min+1)+min);
        }
    </script>
{% endblock %}