{% extends "layout.html.twig" %}

{% block content %}
    <div class="container spotlight">

        <p class="heading no-underline">Donate</p>

        <div class="col-sm-6">
            <br>
            <p style="font-size: 1.1em">Every penny you donate goes straight to the Teddy20 charity to help children and their families affected by cancer.</p>
            <br><br>
            <a href="https://uk.virginmoneygiving.com/charity-web/charity/displayCharityCampaignPage.action?campaignId=6013&charityId=1014289" target="_blank" class="large-image-button" style="background-image: url('/img/sections/donate.png')">
                <span class="btn">Click Here to Donate</span>
            </a>
        </div>
        <div class="col-sm-6">
            <img class="teddy-balloons" src="/img/teddy20_logo.png">
            <div class="teddy20-box">
                <small>An event by</small>
                <p><img src="/img/teddy20_words.png" alt="Teddy20 Supporting Children With Cancer"></p>
                <p>Registered Charity in England and Wales 1174553</p>
                <a class="btn btn-external white" target="_blank" rel="noopener" href="http://teddy20.org"><span class="hidden-xs">Visit the </span>Charity Website</a>
            </div>
        </div>
    </div>
{% endblock %}