{% extends "layout.html.twig" %}

{% block header %}
    <link rel="stylesheet" href="/css/vendor/lightgallery.min.css">

    <script src="{{ asset('vendor/blazy.min.js', 'js') }}"></script>

{% endblock %}

{% block headerStyle %}
    background-image: url('/img/sections/{{ year }}.jpg')
{% endblock %}

{% block content %}

    <div class="container mb40">

        {% if backstage is defined %}
            <h1 class="heading no-underline">{{ year }} Behind The Scenes Gallery</h1>
        {% else %}
            <h1 class="heading no-underline">{{ year }} Gallery</h1>
        {% endif %}

        {% if day %}
            <div class="row">
                <ul class="nav nav-tabs nav-justified">
                    <li {% if day == 'friday' %}class="active"{% endif %}>
                        <a class="friday" href="/{{ year }}/gallery/friday/">
                            Friday
                        </a>
                    </li>
                    <li {% if day == 'saturday' %}class="active"{% endif %}>
                        <a class="saturday" href="/{{ year }}/gallery/saturday/">
                            Saturday
                        </a>
                    </li>
                    <li {% if day == 'sunday' %}class="active"{% endif %}>
                        <a class="sunday" href="/{{ year }}/gallery/sunday/">
                            Sunday
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}

    </div>

    {% for photographer in galleries %}

        {% if photographer.images %}
            <div class="gradient-bg container-fluid">
                <div class="row masonry-container" itemscope itemtype="http://schema.org/ImageGallery">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-6 grid-sizer">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-3 col-xs-4 col-xxs-12 item">
                        <div class="photographer thumbnail">
                            <p class="photography-by">Photography by</p>
                            {% if photographer.logo is defined %}
                                <img src="{{ photographer.logo }}">
                            {% else %}
                                <p class="heading no-underline">{{ photographer.name }}</p>
                            {% endif %}
                            <br/>
                            {% if photographer.link is defined %}
                            <a target="_blank" href="{{ photographer.link }}" class="btn btn-external"><span class="hidden-xs"></span>Website</a>
                            {% endif %}
                            <br/>
                        </div>
                    </div>
                    <div id="gallery-{{ photographer.id }}">
                    {% for pid,image in photographer.images %}

                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-6 item">
                            <a class="swipebox" href="{{ baseGalleryPath }}/{{ photographer.id }}/{{ image }}" itemprop="contentUrl">
                                <img class="img-responsive b-lazy" data-src="{{ baseGalleryPath }}/{{ photographer.id }}/thumbs/{{ image }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" itemprop="thumbnail" alt="{{ photographer.name }} Photography" />
                            </a>
                        </figure>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% if day %}
        <div class="gradient-bg loaded-gallery" style="display:none">
            <div class="container">
                <div class="row">
                    <ul class="nav nav-tabs nav-justified">
                        <li>
                            <a class="friday" href="/gallery/{{ year }}/friday/">
                                Friday
                            </a>
                        </li>
                        <li>
                            <a class="saturday" href="/gallery/{{ year }}/saturday/">
                                Saturday
                            </a>
                        </li>
                        <li>
                            <a class="sunday" href="/gallery/{{ year }}/sunday/">
                                Sunday
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    {% if year > 2013 %}
        <br><br>
        <p>
            {% if year >= 2018 %}
                <a class="btn btn-large" href="/{{ year }}/gallery/backstage">Backstage Gallery</a><br>
            {% endif %}

            <a class="btn" href="/{{ year-1 }}/gallery">{{ year-1 }}'s Gallery</a>
        </p>
    {% endif %}

    <br><br><br><br><br><br><br><br><br><br>
{% endblock %}
{% block footer_js %}
    <script src="/js/vendor/masonry.min.js"></script>
    <script src="/js/vendor/lightgallery.min.js"></script>
    <script src="/js/vendor/lg-fullscreen.min.js"></script>
    <script src="/js/vendor/lg-zoom.min.js"></script>
    <script src="/js/vendor/lg-hash.min.js"></script>
    <script src="/js/vendor/lg-share.min.js"></script>
    <script>

    galCount = 0;

    var $grid = $('.masonry-container').masonry({
        columnWidth: '.grid-sizer',
        itemSelector: '.item',
        percentPosition: true,
        initLayout: true,
        transitionDuration: 0
    });

    var gid = '';
    {% for photographer in galleries %}
        gid = '{{ photographer.id }}';
        $("#gallery-"+gid).lightGallery({
            selector: '.swipebox',
            galleryId: gid
        });
    {% endfor %}

    $(window).on("scroll", function() {
        var scrollHeight = $(document).height();
        var scrollPosition = $(window).height() + $(window).scrollTop();
        if ((scrollHeight - scrollPosition) / scrollHeight === 0) {
            $grid.masonry();
        }
    });

    var bLazy = new Blazy({
        success: function(ele){
            $(ele).parent().addClass('thumbnail');
            if($('.thumbnail').length % 20 === 0  ){
                $grid.masonry();
                galCount = $('.thumbnail').length;
            }
        }
    });

    </script>

{% endblock %}