{% extends "layout.html.twig" %}

{% block content %}
    <div class="gradient-bg">
        <div class="container mb40">
            <p class="heading">Get Involved</p>

            <p>Here's how you can get involved with Teddy Rocks Festival 2019</p>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <a href="https://uk.virginmoneygiving.com/charity-web/charity/displayCharityCampaignPage.action?campaignId=6013&charityId=1014289" target="_blank" class="large-image-button" style="background-image: url('/img/sections/donate.png')">
                        <span class="btn">Donate Online</span>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a href="{{ path('sponsor') }}" class="large-image-button" style="background-image: url('/img/sections/sponsor.png')">
                        <span class="btn">Sponsor</span>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a href="{{ path('trade') }}" class="large-image-button" style="background-image: url('/img/sections/trade.png')">
                        <span class="btn">Trade</span>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a href="{{ path('volunteer') }}" class="large-image-button" style="background-image: url('/img/sections/volunteer.png')">
                        <span class="btn">Volunteer</span>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a href="{{ path('play') }}" class="large-image-button" style="background-image: url('/img/sections/play.png')">
                        <span class="btn">Play</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_js %}
  
{% endblock %}