{% extends "layout.html.twig" %}

{% block header %}
    <video autoplay class="bg-video hidden-xs" loop muted>
        <source src="/gal/videos/2018.mp4" type="video/mp4">
    </video>

    {#{% include 'includes/totaliser.html.twig' with {total: '251,601', current: true} %}#}
{% endblock %}

{% block content %}


        {#<div class="container appdemo">#}
            {#<p class="heading no-underline">Festival Map!</p>#}
            {#<p style="color:white">If you're at Teddy Rocks today, we've made a map to help you find your way around!</p>#}
            {#<p><a class="btn" href="/map">Interactive Map</a> </p>#}
        {#</div>#}

{#<div class="container-fluid gradient-bg gradient-bg-alt">#}

    {#{% include 'includes/gallery-homepage.twig' %}#}

    {#{% if live is defined and live is not null %}#}
        {#{% include 'includes/live.html.twig' %}#}
    {#{% endif %}#}

{#</div>#}
  <div style="background-color :black;">
  <div class="container-fluid lineup page-homepage" style="padding-bottom: 20px;padding-top:20px;">

      <div class="row">
          <div class="col-sm-6">
              <p class="heading no-underline">Saturday Headliner</p>
              <img class="img-responsive hvr-buzz" alt="The Darkness" src="/img/bands/lineup2019/the_darkness.png"/>
          </div>
          <div class="col-sm-6">
              <p class="heading no-underline">Sunday Headliner</p>
              <img class="img-responsive hvr-buzz" alt="The Zutons" src="/img/bands/lineup2019/the_zutons_grey.png"/>
          </div>
      </div>

      {% if date() > date('2018-12-28 10:00:00') %}
          <p class="heading no-underline">Plus</p>

          <span class="act"><img alt="Phil Campbell & The Bastard Sons" src="/img/bands/lineup2019/phil_campbell_and_the_bastard_sons.jpg"/></span>
          <span class="act"><img alt="Dream State" src="/img/bands/lineup2019/dream_state.png"/></span>
          <span class="act"><img alt="The Lounge Kittens" src="/img/bands/lineup2019/lounge_kittens.jpg"/></span>
          <span class="act"><img alt="Press To Meco" src="/img/bands/lineup2019/press_to_meco.jpg"/></span>
          <span class="act"><img alt="The Bottom Line" src="/img/bands/lineup2019/the_bottom_line.png"/></span>
          <span class="act"><img alt="The Dirty Youth" src="/img/bands/lineup2019/the_dirty_youth.png"/></span>
          <span class="act"><img alt="Bang Bang Romeo" src="/img/bands/lineup2019/bang_bang_romeo.png"/></span>
          <span class="act"><img alt="Cold Years" src="/img/bands/lineup2019/cold_years.jpg"/></span>
          <span class="act"><img alt="Saints Of Sin" src="/img/bands/lineup2019/saints_of_sin.png"/></span>
      {% else %}
          <p class="heading no-underline">Plus many more</p>
      {% endif %}

      <p style="color:white">More bands to be announced soon</p>
<br>
      <p class="heading no-underline" style="font-family: heading, body, sans-serif; margin-top:0;font-size:26px;margin-bottom:5px;">Weekend & Day Tickets <span style="color: #009915">ON SALE NOW</span></p>
      <p style="color:white">Payment plans available!</p>

      <p><a class="btn btn-large btn-primary" href="/tickets">Get Your Tickets</a></p>

      {#<p><a class="btn" href="{{ path('lineup') }}">View Full Lineup</a></p>#}
  </div>
    <div class="container-fluid gradient-bg">

        <div class="tagline-top container">

            <p><img src="/img/hearthands.png"></p>

            <p>Ted Newton was lost, aged 10, to Ewing's Sarcoma - a very rare bone cancer.</p>

            <p>Teddy Rocks Festival raises money for Teddy20, a children's cancer charity founded by Ted's brother Tom Newton and his family.</p>

            <p>Since 2011, the festival has raised over &pound;250,000 to help the families of those affected by cancer.</p>

            <p><a class="btn btn-primary" href="/story">Read Ted's Story</a></p>
        </div>

        {% include 'includes/teddy20.html.twig' %}

    </div>

      {#<div class="row">#}
          {#<div class="col-md-4">#}
              {#<div class="activity">#}
                  {#<h3>4 Stages, 80+ Acts</h3>#}
                  {#<img class="blazy img-responsive" src="/img/stages.jpg">#}
                  {#<a class="btn" href="{{ path('lineup') }}#saturday">Full lineup</a>#}
              {#</div>#}
          {#</div>#}
          {#<div class="col-md-4">#}
              {#<div class="activity">#}
                  {#<h3>Activities for all Ages</h3>#}
                  {#<img class="blazy img-responsive" src="/img/activities.jpg">#}
                  {#<a class="btn" href="{{ path('activities') }}">View Activities</a>#}
              {#</div>#}
          {#</div>#}
          {#<div class="col-md-4">#}
              {#<div class="activity">#}
                  {#<h3>Shuttle Buses</h3>#}
                  {#<img class="blazy img-responsive" src="/img/buses.jpg">#}
                  {#<a class="btn" href="/info/#travel">Travel Information</a>#}
              {#</div>#}
          {#</div>#}
      {#</div>#}
{% endblock %}

{% block footer_extras %}
    <div class="row">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup" class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <form action="//teddyrocks.us14.list-manage.com/subscribe/post?u=a9290f4d772171a13461a887f&amp;id=90a76f7529" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" rel="noopener" novalidate>
                <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL">Subscribe to our mailing list</label>
                    <div class="mc-field-group row">
                        <label for="mce-FNAME"></label>
                        <div class="col-sm-6">
                            <input type="text" value="" name="FNAME" class="email" id="mce-FNAME" placeholder="First Name">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" value="" name="LNAME" class="email" id="mce-LNAME" placeholder="Last Name">
                        </div>
                    </div>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a9290f4d772171a13461a887f_90a76f7529" tabindex="-1" value=""></div>
                    <div class="clear">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                </div>
            </form>
        </div>

        <!--End mc_embed_signup-->
    </div>
{% endblock %}

{% block footer_js %}
    <script>var offset = 0</script>
    <script src="{{ asset('homepage.js', 'js') }}"></script>
    {#<script src="{{ asset('confetti.js', 'js') }}"></script>#}

{% endblock %}
