{% extends "layout.html.twig" %}

{% block header %}
    <span class="callout callout-left">
		Shuttle Buses from Morrisons, Blandford
	</span>

    <span class="callout callout-right">
		Cash<br>machines available on site
	</span>
{% endblock %}

{% block content %}

    <div class="container info">

        <h1 class="heading text-center no-underline">Teddy Rocks Festival Information</h1>

        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a href="#faq" data-toggle="tab">
                    FAQ
                </a>
            </li>
            <li>
                <a href="#travel" data-toggle="tab">
                    Travel & Shuttles
                </a>
            </li>
            <li>
                <a href="#camping" data-toggle="tab">
                    Camping & Hotels
                </a>
            </li>
            <li>
                <a href="#conditions" id="conditionsLink" data-toggle="tab">
                    Terms & Conditions
                </a>
            </li>
            <li>
                <a href="#saftey" data-toggle="tab">
                    Care & Saftey
                </a>
            </li>
            <li>
                <a href="#access" data-toggle="tab">
                    Access<span class="hidden-xs hidden-sm">-<br></span>ibility
                </a>
            </li>
            <li>
                <a href="#contact" data-toggle="tab">
                    Contact & Enquires
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="conditions">

                <div class="row">
                    <div class="col-md-6">
                        <p class="heading">Under 16s</p>

                        <p><strong>Under 16s</strong> may purchase day or weekend tickets but must be accompanied by an adult (aged 21 years or over) on the day. There must be at least one adult for every four children in a group. Please note, age will be checked and ID will be required to pick up your wristband(s) at the gate. Everyone entering the festival, regardless of age, must have a ticket.</p>
                        <p>No unaccompanied under 16s are allowed on site.<br><br>Children 5 yrs and under are admitted free, but must purchase or hold a valid ticket and be accompanied by a paying ticket holder over 21.</p>
                        <p>Valid and acceptable proof of age/ID will be required at the entry gate in order to pick up your wristband(s) and enter the festival. Valid forms of ID include:</p>
                        <ul>
                            <li>An in date photographic driver's license or provisional licence</li>
                            <li>A valid passport</li>
                            <li>No photocopies and no out of date ID will be accepted.</li>
                        </ul>
                        <p>Unfortunately no refunds will be given for incorrectly booked tickets. Please download our full terms and conditions for further details.</p>

                        <p><a href="/downloads/general-terms-2019.pdf" target="_blank" class="btn btn-download">Download Festival Terms &amp; Conditions</a></p>
                        <p><a href="/downloads/camping-terms-2019.pdf" target="_blank" class="btn btn-download">Download Camping Terms &amp; Conditions</a></p>
                        <p><small>Updated 18th December 2017</small></p>
                    </div>
                    <div class="col-md-6">
                        <p class="heading">Terms for entry</p>

                        <p>We operate a zero tolerance drugs policy: no illegal substances may be brought into the venue. Anyone caught in possession of these substances will be ejected, barred and the police will be informed.</p>
                        <p>No bottles, cans, alcohol or food may be brought into the festival arena, although baby food is permitted, and food is allowed into the campsite.</p>
                        <p>Please note, the following items are banned from the festival (campsite and arena):</p>
                        <ul>
                            <li><span style="line-height: 1.5em;">drugs, illegal substances such as NOS/nitrous oxide or any other substances banned under the 2016 Psychoactive Substances Act (<a href="http://www.legislation.gov.uk/ukpga/2016/2/contents/enacted">http://www.legislation.gov.uk/ukpga/2016/2/contents/enacted</a>)</span></li>
                            <li><span style="line-height: 1.5em;">weapons or anything that can be interpreted as a weapon</span></li>
                            <li><span style="line-height: 1.5em;">chinese lanterns, fireworks, torches or flares</span></li>
                            <li><span style="line-height: 1.5em;">camping gas canisters above 5kg</span></li>
                            <li><span style="line-height: 1.5em;">generators of any kind</span></li>
                            <li><span style="line-height: 1.5em;">portable/chemical toilets</span></li>
                            <li><span style="line-height: 1.5em;">beanbags</span></li>
                            <li><span style="line-height: 1.5em;">any glass/glass bottles</span></li>
                            <li><span style="line-height: 1.5em;">lasers (including laser pens) or airhorns</span></li>
                            <li><span style="line-height: 1.5em;">sound systems</span></li>
                            <li><span style="line-height: 1.5em;">drones or other radio controlled flying/hovering devices</span></li>
                            <li><span style="line-height: 1.5em;">aerosols over 250ml</span></li>
                            <li><span style="line-height: 1.5em;">spray cans</span></li>
                            <li><span style="line-height: 1.5em;">megaphones</span></li>
                            <li>disposable BBQs</li>
                        </ul>

                        <a href="/info#conditions" class="btn">Back to top</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="travel">

                <p class="heading">
                    Travelling to Teddy Rocks Festival
                </p>

                <p>Charisworth Farm in Blandford Forum, a greenfield site located outside Blandford.</p>

                {#<div class="row">#}
                    {#<div class="col-md-10">#}
                        {#<div id="map"></div>#}
                    {#</div>#}
                    {#<div class="col-md-2">#}
                        <p>Teddy Rocks Festival, Charisworth Farm, Blandford Forum, DT11 9AL</p>

                    {#</div>#}
                {#</div>#}


                <p class="heading no-underline">
                    Travelling to Teddy Rocks Festival
                </p>

                <p class="subheading">Shuttle Buses</p>

                <p>The Teddy Rocks Shuttle Buses return!</p>

                <p>Shuttle buses to the festival leave from <a href="https://goo.gl/maps/LAn7mjmkFD92" target="_blank">Morrisons Supermarket Car Park, Blandford Town Centre</a>.</p>

                <p>Buses will run <strong>every 30 minutes</strong> from the following times:</p>

                <p>Timetable TBC</p>
                {#<table>#}
                    {#<tr>#}
                        {#<td>Friday 4th May</td>#}
                        {#<td>2:30pm</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Saturday 5th May &nbsp;</td>#}
                        {#<td>11:00am</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Sunday 6th May</td>#}
                        {#<td>11:00am</td>#}
                    {#</tr>#}
                {#</table>#}
                {#<p>Until 1am. However last entry to the site is 10pm for non-campers.</p>#}

                {#<p>By popular demand, there will be 3 buses leaving the festival site at the end of each evening (12.30am-1.30am).</p>#}

                {#<p>Buses cost £1 (minimum donation).</p>#}

                <p class="subheading">Regular buses</p>

                <p>You can take the X8 More Bus from Poole to Blandford. We recommend getting off the bus at Blandford's Crown Hotel walk to Morrisons and get shuttle bus. Check the More Bus website for times and details.</p>

                <p>Damory buses link Blandford with Poole, Gillingham, Dorchester, Yeovil, Salisbury and Weymouth. See their website for times and details. <small>* price subject to change</small></p>

                <p class="subheading">By Car</p>

                <p>To get to Charisworth Farm, the new home of Teddy Rocks Festival, proceed towards Winterborne Whitechurch along the A354 the festival site will be on your left and will be signposted with AA road signs.</p>

                <p>For people being dropped off at the festival, a drop-off point will be in the main car park, for festival attendees being dropped off by taxi or private vehicle.</p>

                <p><strong>Teddy Rocks 2019 Festival tickets do not include car parking.</strong></p>
                <p>Car park tickets can be purchased online and on arrival. The costs will be £5 per vehicle. This is to cover the costs of the car parking infrastructure and staff.</p>
                <p>Car parking spaces are limited and will be allocated on a first come basis. Please car share or arrive by taxi or use our provided shuttle services.</p>

                <p class="subheading">By Train</p>

                <p>We recommend travelling to Poole train station and then hopping on the X8 More Bus to Blandford. You can then take our shuttle bus from the town centre to the festival. Take a look at the bus information above for more information on shuttle and regular buses</p>

                <p class="subheading">By Foot</p>
                <p><strong style="color:red">Please do not come by foot.</strong> This is a dangerous road and we at Teddy Rocks have worked hard to provide a bus service to keep you and others safe. You will not be allowed entry to the site via foot. We are just keeping you safe</p>

                <p class="subheading">By Air</p>
                <p><a href="https://www.bournemouthairport.com/">Bournemouth International Airport</a> is the nearest airport to the festival and receives flights from several countries. Please check the website for information. Unfortunately to arrive at the festival from the airport via public transport will require 3 different buses, so we recommend an airport car to Blandford town centre and then catching our shuttle bus to the festival.</p>

                <p class="subheading">Rocket ship / Penny Farthing / Unicorn / Other</p>
                <p>As long as you've bought a ticket for Teddy Rocks Festival, you can travel to the festival however you'd like! <small>except helicopter - no helicopters please</small></p>

                <a href="/info#travel" class="btn">Back to top</a>

            </div>
            <div class="tab-pane" id="camping">

                <div class="row">
                    <div class="col-md-8">
                        <p class="heading">Camping</p>


                        <p>Tents only, campervans, caravans and mobile homes are not permitted.</p>

                        <p class="subheading">Campsite Entry Rules</p>

                        <p><strong>Friday:</strong></p>
                        <p>Campsite will open for early camping set up (available with all camping tickets) at 3pm. The campsite gates will close at 10pm so please make sure you arrive in good time. Late arrivals will sadly be turned away until the next day.</p>

                        <p><strong>Saturday & Sunday:</strong></p>
                        <p>Festival gates will open at 11am. The campsite will close at 00:30am so make sure you are back on site by this time otherwise due to staffing we will have to turn you away. DON'T get caught out!</p>

                        <p>We encourage everyone who is camping and using our car park to refrain from leaving the site between 10pm and 10am. This is due to making sure we can get you in and out of the site safely. Don't worry we are not keeping you prisoner! But your help with this would be appreciated. Our car park will have friendly security who will be able to assist you if you do need to leave the site.</p>

                        <p><strong>Monday:</strong></p>
                        <p>All campers must vacate the site by midday on the Monday (6th May). Please bring a bin bag with you and leave your rubbish in a nice pile for us to come and collect. We like our new home so please help us to return it to its original state.</p>

                        {#<p class="subheading">One Night Camping</p>#}

                        {#<p>One night camping is available with non-camping ticket at an added cost of £10 per person.</p><p> <strong>This is only purchasable on the day from the box office</strong> and are on a first-come first serve basis. One night campers will need to leave the site by 11am on the following day.</p>#}


                        {#<p class="subheading">Facilities</p>#}

                        {#<p>Showers are available within the camping area for anyone with a camping pass</p>#}
                        {#<p>Poshwash Showers are also sending their coffee van to provide hot drinks and pastries to help you get refreshed and ready to party for another day!</p>#}

                        {#<img class="img-responsive" src="/img/showers.jpg"><br>#}

                        <p class="subheading">Alcohol</p>

                        <p>You are allowed to bring your own alcohol to the campsite, but only a reasonable amount* per adult (remember the organisers put the festival on for free and in our spare time, this means we can give you good bands at cheap ticket prices, please do your bit by supporting our bars and helping us to raise money in the fight against children's cancer). This is for personal consumption in the campsite ONLY and will not be allowed on our shuttle bus or brought into the main arena, where there are bars available. The bars offer a great selection of real ales, ciders, spirits, lagers, wines and soft drinks at reasonable prices.</p>

                        <p>*Please note alcohol must be decanted into non-glass containers. There is no glass allowed as broken glass can harm children or the livestock who will use the campsite land after you leave.</p>

                        <p class="subheading">Cooking</p>

                        <p><strong>Food is allowed into the camping area but only baby food can be taken into the festival arena</strong></p>

                        <p>Please note disposable aluminium BBQs are not allowed. Only small purpose built off-the-ground BBQs and camping stoves can be used to cook food but ONLY in designated cooking areas.</p>

                        <p><a href="/downloads/camping-terms-2019.pdf" target="_blank" class="btn btn-download">Download Camping Terms &amp; Conditions</a>
                            <br><small>Updated 2nd October 2018</small></p>
                    </div>
                    <div class="col-md-4">

                        <p class="heading">Hotels</p>
                        <p>
                            Yes! There are a number of hotels and B&amp;Bs in the local area. You can see a full list on <a href="https://www.tripadvisor.co.uk/Hotels-g315963-c2-Blandford_Forum_Dorset_England-Hotels.html">Tripadvisor</a>, where you can check out their ratings, reviews and prices.&nbsp;
                        </p>
                        <p>You could also <a href="https://www.tripadvisor.co.uk/Hotels-g190727-Poole_Dorset_England-Hotels.html">stay in Poole</a>, which is only a 20-25 minute drive away - or <a href="https://www.tripadvisor.co.uk/Hotels-g186262-Bournemouth_Dorset_England-Hotels.html">Bournemouth</a>, which is 35-40 minutes away. See our <a href="/info#travel">travel</a>&nbsp;section for transport details.</p>
                        <p>There are plenty of places to stay in <a href="https://www.tripadvisor.co.uk/Hotels-g186263-Dorchester_Dorset_England-Hotels.html">Dorchester</a>, which is 30 minutes drive away, and <a href="https://www.tripadvisor.co.uk/Hotels-g190817-Weymouth_Dorset_England-Hotels.html">Weymouth</a> which is 35 minutes away.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="saftey">

                <div class="row">
                    <div class="col-md-8">
                        <p class="heading">Care and Saftey</p>

                        <p>Security staff will be on site to ensure crime levels are kept down on site during the festival. Please help yourself stay safe by following the below advice:</p>
                        <ul>
                            <li><span style="line-height: 1.5em;">Keep your cash and possessions on you - but if you can leave your valuables at home, do. While you're on site, keep your phone in a buttoned or zipped pocket, a secure bag or use a lanyard to keep it secure. Don't keep your money, bank cards and valuables together - put them in different pockets.</span></li>
                            <li><span style="line-height: 1.5em;">Consider registering your property such as mobile phones and cameras for free at <a href="http://www.immobilise.com">www.immobilise.com</a> to help the police return your items should they be stolen.</span></li>
                            <li><span style="line-height: 1.5em;">Protect your mobile phone by keying in *#06# - this will display your unique International Mobile Equipment identity (IMEI) number. Make a note of it so that if your phone is lost or stolen, you can contact your service provider to have the phone immobilised.</span></li>
                            <li><span style="line-height: 1.5em;">Do not bring illegal drugs to the festival. Bag searches will be carried out at the entrance gates. If you take prescribed medication, keep it with you at all times.</span></li>
                            <li><span style="line-height: 1.5em;">If you have witnessed or are a victim of a crime, report it to the festival staff on site. In an emergency, call the Dorset Police on 999.</span></li>
                            <li>Ensure you know where your nearest emergency exits are.</li>
                            <li>Follow any instructions given by Stewards, Security and Police.</li>
                            <li>Move away from any dangerous/antisocial behaviour. Notify Security if you see any antisocial or dangerous behaviour.</li>
                            <li>Move to where there is more space if you see a crowd surge occur.</li>
                            <li>Ask for help if you need it and help others, especially if someone falls.</li>
                            <li>Stay calm - if you're in distress, ask to be taken to the Welfare Tent.</li>
                            <li>Look after yourself and those around you, even people you don't know. If you suspect somebody is unwell take them to a first aid or welfare area/tent. If they are not responding please alert a Steward immediately who will call for the necessary help. Please don't attempt to move them as you may do more harm than good.</li>
                            <li>If you need to take medication regularly remember to bring it and let your friends know of any illness or allergies you may have and where your medication is stored.</li>
                        </ul>
                        <p>For people camping, the following BBQ Safety information the dangers of Carbon Monoxide is important:</p>
                        <ul>
                            <li>There have been a number of tragic deaths nationally from carbon monoxide poisoning linked to the use of barbecues within tents, camping structures and caravans.</li>
                            <li>Carbon Monoxide (CO) is a colourless, odourless, tasteless poisonous gas produced by incomplete burning of carbon based fuels, including gas, oil, wood and coal.</li>
                            <li>Levels of the gas can build up very quickly to levels that can make someone unwell or result in a fatality.</li>
                            <li>Approximately 4,000 people attending Accident and Emergency each year are diagnosed with carbon monoxide poisoning.</li>
                            <li>When CO enters the body it prevents the blood from bringing oxygen to cells, tissues and organs. It can cause symptoms such as headaches, drowsiness, nausea and vomiting.</li>
                            <li>CO can kill quickly, in minutes, without warning and even low levels of the poison can cause lasting damage to health.</li>
                            <li>Campers have lost their lives after taking lit barbecues into tents or caravans for warmth. A lit or smouldering barbecue should never be taken into a tent, tent awning, camping pod, caravan or campervan.</li>
                            <li>Similarly portable gas stoves are not designed to be used inside such structures. They should be kept clean, in good working order and should only be used outside in a suitably ventilated area.</li>
                            <li>It is tempting to move cooking equipment inside when the weather is poor, but this can quickly lead to a potentially deadly build-up of poisonous gas.</li>
                            <li>Anyone who thinks they may have been exposed to carbon monoxide fumes should seek medical advice immediately.</li>
                        </ul>

                        <a href="/info#saftey" class="btn">Back to top</a>
                    </div>
                    <div class="col-md-4">
                        <p class="heading">Medical</p>

                        <p>	Teddy Rocks Festival will have an easily accessible and clearly visible medical post. It will be manned by trained personnel, including at least one paramedic, who will be on site during opening hours to treat and advise any injury or illness.</p>

                        <p>There will also be medic foot patrols throughout the event.</p>

                        <p class="heading">Welfare</p>

                        <p>There will be a clearly signposted welfare tent at Teddy Rocks Festival, located by the medical post and the security hub.</p>

                        <p class="heading">Lost Property</p>

                        <p>There will be a clearly signposted lost property point on site, managed by our Welfare Team.</p>

                        <p class="heading">Lost Humans</p>

                        <p>There will be a lost and found persons point on site. If you lose a child, young person or vulnerable adult, head to the lost and found point or find a member of our Welfare Team who will help you.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="access">

                <div class="row">

                    <div class="col-md-4">
                        <p class="heading">Disabled &amp; Carers</p>

                        <p>Disabled customers are entitled to apply for one free PA/carer ticket. The carer must be at least 18 years old by 3rd May 2019. Please purchase your ticket first and then email us <a href="mailto:access@teddyrocks.co.uk?subject=Teddy%20Rocks%202017%20Carer%20Tickets">access@teddyrocks.co.uk</a> with your name and ticket number to apply for your free carer ticket.
                        </p>
                    </div>

                    <div class="col-md-4">
                        <p class="heading">Accessible Parking</p>

                        <p>We offer a limited number of parking spaces for Blue Badge holders, in the main car park. You will need to apply for one of these once you've booked your festival ticket - just email us <a href="mailto:access@teddyrocks.co.uk?subject=Teddy%20Rocks%202017%20Carer%20Tickets">access@teddyrocks.co.uk</a> with your name and ticket number. Please be aware that these are allocated on a first-come, first-served basis.</p>
                    </div>

                    <div class="col-md-4">
                        <p class="heading">Viewing Spots</p>

                        <p>We're an intimate festival with a 2,500 capacity, so you won't find yourself caught in a huge crowd. Although we don't have a specific viewing platform, our site is on a gradient and the area is large, so everyone will get a good view! We'll also be streaming the live performances on giant screens, so you can be part of the action wherever you are.</p>

                    </div>

                    <div class="col-md-4">
                        <p class="heading">Toilets</p>
                        <p>Teddy Rocks Festival will have accessible toilet facilities.</p>
                    </div>

                    <div class="col-md-4">
                        <p class="heading">Terrain</p>
                        <p>Teddy Rocks Festival is on a greenfield site and, whilst flat, there may be some hilly grass sections which, in bad weather, may be harder to access. However, we provide a number of facilities at the festival to accommodate disabled customer needs and our friendly welfare team will be happy to help if you need them. </p>
                    </div>

                    <div class="col-md-4">
                        <p class="heading">Contacting Us</p>

                        <p>If you have any questions we're more than happy to answer them, email us at <a href="mailto:access@teddyrocks.co.uk">access@teddyrocks.co.uk</a></p>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="contact">

                <div class="row">
                    <div class="col-md-4">
                        <p class="heading">Volunteering</p>

                        <p>Are you over 18? Do you fancy volunteering for a great cause? Do you love wearing high-vis vests? If you're nodding enthusiastically, come and help out at Teddy Rocks. We're looking for people to guide our festival-goers from A to B, to help with bucket collections and to join our clearing-up crew. It'll look great on your CV and you can can feel fantastic for helping us to fight children's cancer!

                        </p><p><a class="btn" href="{{ path('volunteer') }}">Volunteer</a></p>

                    </div>
                    <div class="col-md-8">
                        <div class="row">

                            <div class="col-md-6">
                                <p class="heading">Press and Media Enquires</p>

                                <p>For press, print and filming enquiries, please contact <a href="mailto:Em@publiccitypr.com ">Em@publiccitypr.com </a></p>
                            </div>

                            <div class="col-md-6">
                                <p class="heading">Partnering and Sponsoring</p>

                                <p>We’re always grateful for help. If you’d like to join our amazing partners and help us fight children’s cancer. </p><p><a class="btn" href="{{ path('sponsor') }}">Sponsor Us</a></p>
                            </div>

                            <div class="col-md-6">
                                <p class="heading">Bands / Artists</p>

                                {#<p>Our roster is full for 2019, but we’re always looking for talented artists for future events. </p>#}
                                <p><a class="btn" href="{{ path('play') }}">Play at Teddy Rocks Festival</a></p>
                            </div>

                            <div class="col-md-6">
                                <p class="heading">Trading</p>
                                <p><a class="btn" href="{{ path('trade') }}">Trade at Teddy Rocks Festival</a></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane active" id="faq" >

                <div class="row">

                    <div class="col-md-4">
                        <p class="heading">
                            Is it only rock music?
                        </p>

                        <div class="answer">
                            <p>We have an immense range of music - including rock, pop rock, alt rock, indie rock, electro rock, acoustic rock, acoustic pop, folk, ska, punk, pop punk, metal, grime, rap,  horror punk, electro, crossover, dubstep, trance, drum and bass, and everything in between.</p>
                            <p>This year there are 4 stages and a silent disco arena - so there is music to suit all tastes.</p>
                            <p>There's also all sorts of other activities available for all ages</p>
                            <p><a class="btn" href="/lineup">Full Lineup</a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <p class="heading">
                            When is Teddy Rocks?
                        </p>

                        <div class="answer">
                            <p>Friday 3rd May 2019
                                , 17:00 – 00:30
                              (Camping area opens at 15:00)
                            </p>

                            <p>Saturday 4th May 2019
                                , 11:00 – 00:30
                                (Camping area opens at 09:00)
                            </p>

                            <p>Sunday 5th May 2019
                                , 11:00 – 00:30
                                (Camping area opens at 09:00)
                            </p>
                        </div>

                        <p class="heading">
                            What time is last entry?
                        </p>

                        <div class="answer">
                            <p>last entry 10pm for day ticket holders</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <p class="heading">
                            Do you take card payments?
                        </p>

                        <div class="answer">

                            <p><strong>Yes we do!</strong></p>

                            <p>We have cash points on site to make it easy to buy food, drink, merch and of course - so everyone can dig deep and help raise a ton of money to help fight children's cancer!</p>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <p class="heading">
                            Can I smoke or vape?
                        </p>

                        <div class="answer">

                            <p>Smoking (including e-cigarettes) is not permitted in any of the marquees, enclosed public spaces or buildings, including the bars.</p>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <p class="heading">
                            Can I bring my pet?
                        </p>

                        <div class="answer">
                            <p>No animals, other than guide or hearing dogs, are permitted on site. Sorry, Fido!</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <p class="heading">
                            Can my band play?
                        </p>

                        <div class="answer">

                            <p>Artists can sign up for a longlist to <a href="{{ path('play') }}">play at Teddy Rocks 2019.</a></p>
                        </div>
                    </div>

                </div>
            </div>
            <br> <br> <br> <br>
        </div>
    </div>

{% endblock %}
{% block footer_js %}
    {#<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5OAvULj9EsSrMOpfJPbvx3_HQ-j1Ybvo"></script>#}

    {#<script type="text/javascript">#}
        {#// When the window has finished loading create our google map below#}
        {#google.maps.event.addDomListener(window, 'load', init);#}

        {#function init() {#}
            {#// Basic options for a simple Google Map#}
            {#// For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions#}
            {#var mapOptions = {#}
                {#// How zoomed in you want the map to start at (always required)#}
                {#zoom: 14,#}

                {#// The latitude and longitude to center the map (always required)#}
                {#center: new google.maps.LatLng(50.813496,-2.194496),#}

                {#// How you would like to style the map.#}
                {#// This is where you would paste any style found on Snazzy Maps.#}
                {#styles: [#}
                    {#{#}
                        {#"featureType": "all",#}
                        {#"elementType": "geometry",#}
                        {#"stylers": [#}
                            {#{#}
                                {#"color": "#f5d19f"#}
                            {#}#}
                        {#]#}
                    {#},#}
                    {#{#}
                        {#"featureType": "all",#}
                        {#"elementType": "labels.text.fill",#}
                        {#"stylers": [#}
                            {#{#}
                                {#"gamma": 0.01#}
                            {#},#}
                            {#{#}
                                {#"lightness": 20#}
                            {#}#}
                        {#]#}
                    {#},#}
                    {#{#}
                        {#"featureType": "all",#}
                        {#"elementType": "labels.text.stroke",#}
                        {#"stylers": [#}
                            {#{#}
                                {#"saturation": -31#}
                            {#},#}
                            {#{#}
                                {#"lightness": -33#}
                            {#},#}
                            {#{#}
                                {#"weight": 2#}
                            {#},#}
                            {#{#}
                                {#"gamma": 0.8#}
                            {#}#}
                        {#]#}
                    {#},#}
                    {#{#}
                        {#"featureType": "all",#}
                        {#"elementType": "labels.icon",#}
                        {#"stylers": [#}
                            {#{#}
                                {#"visibility": "off"#}
                            {#}#}
                        {#]#}
                    {#},#}
                    {#{#}
                        {#"featureType": "landscape",#}
                        {#"elementType": "geometry",#}
                        {#"stylers": [#}
                            {#{#}
                                {#"lightness": 30#}
                            {#},#}
                            {#{#}
                                {#"saturation": 30#}
                            {#}#}
                        {#]#}
                    {#},#}
                    {#{#}
                        {#"featureType": "poi",#}
                        {#"elementType": "geometry",#}
                        {#"stylers": [#}
                            {#{#}
                                {#"saturation": 20#}
                            {#}#}
                        {#]#}
                    {#},#}
                    {#{#}
                        {#"featureType": "poi.park",#}
                        {#"elementType": "geometry",#}
                        {#"stylers": [#}
                            {#{#}
                                {#"lightness": 20#}
                            {#},#}
                            {#{#}
                                {#"saturation": -20#}
                            {#}#}
                        {#]#}
                    {#},#}
                    {#{#}
                        {#"featureType": "road",#}
                        {#"elementType": "geometry",#}
                        {#"stylers": [#}
                            {#{#}
                                {#"lightness": 10#}
                            {#},#}
                            {#{#}
                                {#"saturation": -30#}
                            {#}#}
                        {#]#}
                    {#},#}
                    {#{#}
                        {#"featureType": "road",#}
                        {#"elementType": "geometry.stroke",#}
                        {#"stylers": [#}
                            {#{#}
                                {#"saturation": 25#}
                            {#},#}
                            {#{#}
                                {#"lightness": 25#}
                            {#}#}
                        {#]#}
                    {#},#}
                    {#{#}
                        {#"featureType": "water",#}
                        {#"elementType": "all",#}
                        {#"stylers": [#}
                            {#{#}
                                {#"lightness": -20#}
                            {#}#}
                        {#]#}
                    {#}#}
                {#]#}
            {#};#}

            {#// Get the HTML DOM element that will contain your map#}
            {#// We are using a div with id="map" seen below in the <body>#}
            {#var mapElement = document.getElementById('map');#}

            {#// Create the Google Map using our element and options defined above#}
            {#var map = new google.maps.Map(mapElement, mapOptions);#}

            {#// Let's also add a marker while we're at it#}
            {#var marker = new google.maps.Marker({#}
                {#position: new google.maps.LatLng(50.813496,-2.194496),#}
                {#map: map,#}
                {#title: 'Teddy Rocks Festival'#}
            {#});#}
        {#}#}

        {#var type = window.location.hash.substr(1);#}
        {#if (type.substr(0, 10) === 'conditions') {#}
            {#document.getElementById('conditionsLink').click();#}
        {#}#}
    {#</script>#}
{% endblock %}
