<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <title>{{ title }} - Teddy Rocks Festival</title>
        <meta charset="UTF-8">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#b4dd22">
        <meta name="twitter:site" content="@TeddyRocksFest" />
        <meta name="google-site-verification" content="fF6JMuhZ1PEbUHKQev2FanhkYN4XvMyXIkJOtqJRHRA" />

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Teddy Rocks Charity Music Festival</title>
        <meta name="description" content="Teddy Rocks Festival returns for 2019 at Charisworth Farm. Since it's beginnings, the festival has raised over £250,000 for the Teddy20 charity. The eighth Teddy Rocks Festival will continue its mission to raise money to help fight children's cancer.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/plain" rel="author" href="/humans.txt" />

        <link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/icons//apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/icons//apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/icons//apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/icons//apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/icons//apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/icons//apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/icons//apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/icons//apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/img/icons//android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/icons//favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/icons//favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/icons//favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/img/icons/ms-icon-144x144.png">
        <meta name="theme-color" content="#000000">

        <meta property="og:url" content="https://teddyrocks.co.uk">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://teddyrocks.co.uk/img/splash.jpg">
        <meta property="og:image:type" content="image/jpg">
        <meta property="og:image:width" content="1706">
        <meta property="og:image:height" content="1018">
        <meta property="og:title" content="Teddy Rocks Charity Music Festival">
        <meta property="og:description" content="Teddy Rocks Festival returns for 2019 at Charisworth Farm. The charity rock festival has raised over £250,000 to help fight children's cancer, the eighth Teddy Rocks Festival will continue its mission to raise money.">


        <link href="{{ asset('slick.css', 'slick') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('slick-theme.css', 'slick') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('main.css', 'css') }}" rel="stylesheet">

        {% block head %}{% endblock %}

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-ND4T6F');</script>
        <!-- End Google Tag Manager -->

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-57913771-1', 'auto');
            ga('send', 'pageview');

        </script>

        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                    document,'script','https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1672420936352687'); // Insert your pixel ID here.
            fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=1672420936352687&ev=PageView&noscript=1"
                    /></noscript>
        <!-- DO NOT MODIFY -->
        <!-- End Facebook Pixel Code -->

        <script>
            /* First CSS File */
            var mailchimpCss = document.createElement('link');
            mailchimpCss.rel = 'stylesheet';
            mailchimpCss.href = '//cdn-images.mailchimp.com/embedcode/slim-10_7.css';
            mailchimpCss.type = 'text/css';
            var deferLoading = document.getElementsByTagName('link')[0];
            deferLoading.parentNode.insertBefore(mailchimpCss, deferLoading);
        </script>

    </head>
    <body class="page-{{ page|default('any') }} year-{{ year }}">
        <!--[if lt IE 8]>
            <p class="">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="press-kit" class="gradient-bg" style="display:none">
            <p class="heading no-underline">High Res Logo</p>
            <p>It looks like you might want to use our logo! We love that you want to share our festival.</p>
            <p>To help you out, we've put a page together for you with high resolution versions and other things you might need.</p>
            <p><a class="btn" href="{{ path('press') }}">Press Pack</a></p>
        </div>

        <div class="container-outer">
            <div class="container-fluid container-header" style="{% spaceless %}{% block headerStyle %}{% endblock %}{% endspaceless %}">
                {% block header %}{% endblock %}
                {% if isArchive is defined and isArchive == true %}
                    {% include 'includes/nav-archive.html.twig' %}
                {% else %}
                    {% include 'includes/nav.html.twig' %}
                {% endif %}
            </div>
        </div>

        {% block content %}{% endblock %}

        {% if skipSponsors is not defined or not skipSponsors %}
            {% include('includes/sponsors.html.twig') %}
        {% endif %}

        <div class="footer-outer">
        <div class="footer">
            <div class="container">
                <div class="social-icons">
                    <a href="http://facebook.com/TeddyRocksFestival"><img src="/img/icons/fb.png"></a>
                    <a href="http://twitter.com/teddyrocksfest"><img src="/img/icons/twitter.png"></a>
                    <a href="http://instagram.com/teddyrocksfest"><img src="/img/icons/instagram.png"></a>
                    <a href="https://www.youtube.com/channel/UC4Z1HXECy_ezC4PTytYLA7w"><img src="/img/icons/youtube.png"></a>
                    <a href="https://snapchat.com/add/teddyrocksfest"><img src="/img/icons/snapchat.png"></a>
                </div>

                {% block footer_extras %}
                {% endblock %}

                TEDDY20 SUPPORTING CHILDREN WITH CANCER

                <img class="bear" src="/img/backgrounds/bear.png">
                <img class="sign" src="/img/backgrounds/sign.png">
            </div>
        </div>
        </div>

        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>

        {#<script src="{{ asset('vendor/bootstrap.min.js', 'js') }}"></script>#}
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="{{ asset('slick.js', 'slick') }}" type="text/javascript"></script>
        <script>var videoHeight = 400;</script>
        {% block footer_js %}{% endblock %}
        <script src="{{ asset('main.js', 'js') }}"></script>
        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/service-worker.js')
                        .then(function(reg){

                        }).catch(function(err) {

                        });
            }
        </script>
        <script>
            $(document).ready(function(){
                var offset = 0;
                $('.digit').hide();
                $('.comma').hide();
                $($('.digit').get().reverse()).each(function(index, digit){
                    if(index === 0){
                        $(digit).show();
                    }
                    var stopAt = parseInt($(digit).data('val'));

                    var stop = false;

                    setTimeout(function()
                    {
                        stop = true;
                    }, (index+1) * 1000 + offset);

                    setInterval(function (){
                        var currentNumber = parseInt($(digit).text());
                        if(stop === true) {
                            $(digit).addClass('finished');
                            var next = index+1;
                            setTimeout(function(){
                                $($('.digit').get().reverse()[next]).show();
                            }, 500);
                            if(index === 3) {
                                $('.comma').show();
                            }
                        }
                        if(currentNumber < 10){
                            if(stop === true && currentNumber === stopAt) {

                            } else {
                                $(digit).text(currentNumber + 1);
                            }
                        } else {
                            $(digit).text(0);
                        }
                    }, 100);
                });
            });

        </script>
        <script>
            $(function () {
                $('.navbar-brand .logo-image').bind('contextmenu', function () {
                    $('div#press-kit').slideToggle('slow');
                });
            });
        </script>

    </body>
</html>


