{% extends "layout.html.twig" %}

{% import _self as macro %}

{% block content %}
    <div style="background-color :black;">
        <div class="container lineup no-move-header">

            <h1 class="heading no-underline">2018 Lineup</h1>

            <p>
                <a class="btn btn-primary btn-large" href="/clashfinder">Clashfinder</a>
                <a href="http://open.spotify.com/user/21o754zvpmfjotd7f2dplaisy/playlist/1AJx9gva6RZJHYu4h2G6nc">
                    <img src="/img/spotify.png" class="spotify">
                </a>
            </p>

            <div class="moving-tabs moving-fix">
                <div class="row">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a class="friday" href="#friday" data-toggle="tab">
                                Friday<br><small class="hidden-xs">4th May</small>
                            </a>
                        </li>
                        <li>
                            <a class="saturday" href="#saturday" data-toggle="tab">
                                Saturday<br><small class="hidden-xs">5th May</small>
                            </a>
                        </li>
                        <li>
                            <a class="sunday" href="#sunday" data-toggle="tab">
                                Sunday<br><small class="hidden-xs">6th May</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <p class="top40"></p>

            <div class="tab-content lineup">
                <div class="tab-pane active" id="friday">

                    <p class="heading no-underline hidden-sm hidden-md hidden-lg">4th May</p>

                    <div class="stage stage2">
                        <div class="row row-centered">
                            <div class="col-md-12 stagename">
                                <img src="/img/bands/lineup/vocalzone.jpg" alt="The Vocalzone Stage"/>
                                <div class="heading no-underline tight">6pm - 11pm</div>
                            </div>
                        </div>
                        <div class="row row-centered">
                            {% for band, details in lineup.friday.stage2.bands %}
                                {{ macro.showBand(band,details) }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="stage stage3">
                        <div class="row row-centered">
                            <div class="col-md-12 stagename">
                                <img src="/img/bands/lineup/greyhound.jpg" alt="The Greyhound Stage"/>
                                <div class="heading no-underline tight">5:45pm - 12am</div>
                            </div>
                        </div>
                        <div class="row row-centered">
                            {% for band, details in lineup.friday.stage3.bands %}
                                {{ macro.showBand(band,details) }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="stage stage4">
                        <div class="row row-centered">
                            <div class="col-md-12 stagename">
                                <p>Fourth Stage</p>
                                <div class="heading no-underline tight">7:30pm - 11:30pm</div>
                            </div>
                        </div>
                        <div class="row row-centered">
                            {% for band, details in lineup.friday.stage4.bands %}
                                {{ macro.showBand(band,details) }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="stage5">
                        <div class="row row-centered">
                            <div class="col-md-12 stage stagename">
                                <span><small>THE</small> TEDDY RAVES <small>Silent Disco Arena</small></span>
                                <div class="heading no-underline tight">7pm - 12am</div>
                            </div>
                        </div>
                        <div class="row row-centered">
                            <p style="color:white">Dance</p>
                            {% for band, details in lineup.friday.disco1.bands %}
                                {{ macro.showBand(band,details) }}
                            {% endfor %}
                        </div>
                        <div class="row row-centered">
                            <p style="color:white">Indie/Rock</p>
                            {% for band, details in lineup.friday.disco2.bands %}
                                {{ macro.showBand(band,details) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="saturday">

                    <p class="heading no-underline hidden-sm hidden-md hidden-lg">5th May</p>

                    <div class="stage stage1">
                        <div class="row row-centered">
                            <div class="col-md-12 stagename">
                                <img src="/img/bands/lineup/checkatrade.jpg" alt="The Checkatrade Stage"/>
                                <div class="heading no-underline tight">11:55am - 10:45pm</div>
                            </div>
                        </div>
                        <div class="row row-centered">
                            {% for band, details in lineup.saturday.stage1.bands %}
                                {{ macro.showBand(band,details) }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="stage stage2">
                        <div class="row row-centered">
                            <div class="col-md-12 stagename">
                                <img src="/img/bands/lineup/vocalzone.jpg" alt="The Vocalzone Stage"/>
                                <div class="heading no-underline tight">11:20am - 9:25pm</div>
                            </div>
                        </div>
                        <div class="row row-centered">
                            {% for band, details in lineup.saturday.stage2.bands %}
                                {{ macro.showBand(band,details) }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="stage stage3">
                        <div class="row row-centered">
                            <div class="col-md-12 stagename">
                                <img src="/img/bands/lineup/greyhound.jpg" alt="The Greyhound Stage"/>
                                <div class="heading no-underline tight">11:50am - 00:00pm</div>
                            </div>
                        </div>
                        <div class="row row-centered">
                            {% for band, details in lineup.saturday.stage3.bands %}
                                {% if band == 'newbands' %}
                                    <div class="newbands">
                                        <p class="substagename">Teddy Rocks Introduces New Music</p>
                                        {% for newband, newdetails in details %}
                                            {% if newdetails.headliner %}
                                                <div class="act"><img alt="{{ newband }}" src="/img/bands/lineup/{{ newband|replace(' ', '_')|lower }}.jpg"/></div>
                                            {% else %}
                                                <div class="act">{{ newband }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ macro.showBand(band,details) }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="stage stage4">
                        <div class="row row-centered">
                            <div class="col-md-12 stagename">
                                <p>Fourth Stage</p>
                                <div class="heading no-underline tight">12:30am - 9:00pm</div>
                            </div>
                        </div>
                        <div class="row row-centered">
                            {% for band, details in lineup.saturday.stage4.bands %}
                                {{ macro.showBand(band,details) }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="stage stage5">
                        <div class="row row-centered">
                            <div class="col-md-12 stagename">
                                <span><small>THE</small> TEDDY RAVES <small>Silent Disco Arena</small></span>
                                <p class="heading no-underline tight">12pm - 12:30am</p>
                            </div>
                        </div>
                        <div class="row row-centered">
                            <p style="color:white">Trance</p>
                            {% for band, details in lineup.saturday.disco1.bands %}
                                {{ macro.showBand(band,details) }}
                            {% endfor %}
                        </div>
                        <div class="row row-centered">
                            <p style="color:white">Drum & Bass</p>
                            {% for band, details in lineup.saturday.disco2.bands %}
                                {{ macro.showBand(band,details) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="sunday">

                    <p class="heading no-underline hidden-sm hidden-md hidden-lg">6th May</p>

                    <div class="stage stage1">
                        <div class="row row-centered">
                            <div class="col-md-12 stagename">
                                <img src="/img/bands/lineup/checkatrade.jpg" alt="The Checkatrade Stage"/>
                                <div class="heading no-underline tight">11:55am - 10:45pm</div>
                            </div>
                        </div>
                        <div class="row row-centered">
                            {% for band, details in lineup.sunday.stage1.bands %}
                                {{ macro.showBand(band,details) }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="stage stage2">
                        <div class="row row-centered">
                            <div class="col-md-12 stagename">
                                <img src="/img/bands/lineup/vocalzone.jpg" alt="The Vocalzone Stage"/>
                                <div class="heading no-underline tight">11:20am - 9:25pm</div>
                            </div>
                        </div>
                        <div class="row row-centered">
                            {% for band, details in lineup.sunday.stage2.bands %}
                                {{ macro.showBand(band,details) }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="stage stage3">
                        <div class="row row-centered">
                            <div class="col-md-12 stagename">
                                <img src="/img/bands/lineup/greyhound.jpg" alt="The Greyhound Stage"/>
                                <div class="heading no-underline tight">11:50am - 00:00pm</div>
                            </div>
                        </div>
                        <div class="row row-centered">
                            {% for band, details in lineup.sunday.stage3.bands %}
                                {% if band == 'newbands' %}
                                    <div class="newbands">
                                        <p class="substagename">Teddy Rocks Introduces New Music</p>
                                        {% for newband, newdetails in details %}
                                            {% if newdetails.headliner %}
                                                <div class="act"><img alt="{{ newband }}" src="/img/bands/lineup/{{ newband|replace(' ', '_')|lower }}.jpg"/></div>
                                            {% else %}
                                                <div class="act">{{ newband }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ macro.showBand(band,details) }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="stage stage4">
                        <div class="row row-centered">
                            <div class="col-md-12 stagename">
                                <p>Fourth Stage</p>
                                <div class="heading no-underline tight">12:30am - 9:00pm</div>
                            </div>
                        </div>
                        <div class="row row-centered">
                            {% for band, details in lineup.sunday.stage4.bands %}
                                {{ macro.showBand(band,details) }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="stage stage5">
                        <div class="row row-centered">
                            <div class="col-md-12 stagename">
                                <span><small>THE</small> TEDDY RAVES <small>Silent Disco Arena</small></span>
                                <p class="heading no-underline tight">12pm - 12:30am</p>
                            </div>
                        </div>
                        <div class="row row-centered">
                            <p style="color:white">Trance</p>
                            {% for band, details in lineup.sunday.disco1.bands %}
                                {{ macro.showBand(band,details) }}
                            {% endfor %}
                        </div>
                        <div class="row row-centered">
                            <p style="color:white">Drum & Bass</p>
                            {% for band, details in lineup.sunday.disco2.bands %}
                                {{ macro.showBand(band,details) }}
                            {% endfor %}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <p>
                <a class="btn btn-primary btn-large" href="/tickets">Buy Tickets</a>
            </p>
        </div>
    </div>
{% endblock %}
{% block footer_js %}
    <script>
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });
    </script>
{% endblock %}

{% macro showBand(band, details) %}
    {% if details.headliner %}
        <div class="act">
            {% if details.link is defined %}
                <a class="actlink" href="{{ details.link }}" target="_blank">
            {% endif %}
            <img alt="{{ band }}" src="/img/bands/lineup/{{ band|replace(' ', '_')|lower }}.jpg"/>
            {% if details.link is defined %}
                </a>
            {% endif %}
        </div>
    {% else %}
        <div class="act">
            {% if details.link is defined %}
                <a class="actlink" href="{{ details.link }}" target="_blank">
                {% endif %}
            {{ band }}
            {% if details.link is defined %}
                </a>
            {% endif %}
        </div>
    {% endif %}

{% endmacro %}