{% extends "layout.html.twig" %}

{% import _self as macro %}

{% block content %}
    <div class="container text-center">
    <p class="heading no-underline">
    <h1 class="heading text-center">Lineup TBC</h1>
        <br><br><br><br><br><br>
    <p><a class="btn" href="/">Back to the Homepage</a></p>
        <br><br><br><br><br><br>
    </div>
{% endblock %}