{% extends "layout.html.twig" %}

{% block content %}

    <div class="container merch">
        <h1 class="heading no-underline">
            Teddy Rocks Merchandise
        </h1>
    </div>

    <div id="myShop" style="z-index:9999"><a href="//shop.spreadshirt.de/100039746">100039746</a></div>

    <script>
        var spread_shop_config = {
            shopName: '100039746',
            locale: 'en_GB',
            prefix: '//shop.spreadshirt.de',
            baseId: 'myShop'
        };
    </script>

    <script type="text/javascript" src="//shop.spreadshirt.de/shopfiles/shopclient/shopclient.nocache.js"></script>


{% endblock %}
{% block footer_js %}
  
{% endblock %}