{% extends "layout.html.twig" %}

{% block content %}
    <div class="container about">

        <p class="heading">Press Pack</p>

        <p>Thank you for your interest in the Teddy Rocks Festival! Please follow the guidelines below.</p>

        <p class="heading no-underline">Website Links</p>

        <p>Our website link is written either as <a href="https://teddyrocks.co.uk">teddyrocks.co.uk</a> or <a href="https://teddyrocks.co.uk">https://teddyrocks.co.uk</a>.</p>
        <p>The website link should not be written with the <em>http</em> protocol, or with the <em>www.</em> prefix.</p>

        <p class="heading no-underline">Logos</p>

        <p>You may:</p>
        <ul>
            <li>Invert the logo (from black outlines and white fill, to white outlines and black fill).</li>
            <li>Place the logo on patterned backgrounds or images.</li>
        </ul>
        <p>You must not:</p>
        <ul>
            <li>Crop, skew or otherwise transform the images.</li>
            <li>Display the logo in any colour other than black and white.</li>
            <li>Cover part of the logo with other imagery.</li>
            <li>Add any text directly next to the logo so to appear part of it other than our website link.</li>
            <li>Use this logo for any purpose other than to promote the Teddy Rocks Festival.</li>
        </ul>

        <a class="btn" href="/downloads/teddy-rocks-2018-logos.zip">Download High Res Logos</a>

        <p class="heading no-underline">Photography</p>

        <p>You may use any photos from our latest <a href="{{ year }}-1/gallery">gallery</a> that you feel best illustrates your article. We would appreciate it if you could credit the photographer accordingly.</p>

       <p><a class="btn" href="/{{ year-1 }}/gallery">{{ year-1 }}'s Gallery</a></p>

        <p>If you cannot find a photo that suits your needs, or for more information, please contact <a href="mailto:Em@publiccitypr.com ">Em@publiccitypr.com</a>.</p>




    </div>

{% endblock %}
{% block footer_js %}

{% endblock %}
