{% extends "layout.html.twig" %}

{% block content %}
    <div class="container about">
        <div class="row">
            <div class="col-md-4 images hidden-sm">

                <img src="/img/about/newtons.jpg">

                <img src="/img/about/teddy-rocks-about-money-raised-500px.png">

                <img src="/img/about/teddy-rocks-volunteer-v2-500px.png">

            </div>
            <div class="col-md-8 col-sm-12">
                <p class="heading">The Teddy Rocks Story <em>by the Newton family</em></p>

                <p>Teddy Rocks Festival started with a small gig in <a href="/2011">2011</a> to raise money for Teddy20, a children's cancer charity founded by Tom Newton and his family after he lost his 10 year old brother Ted to a very rare bone cancer.</p>
                <p>The gig was put on by Tom's friends and family in the restaurant of The Greyhound pub in Blandford and raised £400. This was used to fund the very first Teddy Rocks event at The Corn Exchange in <a href="/2012">2012</a>, which raised £2,500.</p>
                <p>By <a href="/2013">2013</a>, Teddy Rocks had grown and needed more space, so they moved back to The Greyhound pub, raising £6,500 and £15,000 in <a href="/2014">2014</a>. In <a href="/2015">2015</a>, Teddy Rocks almost doubled this, raising an amazing £24,000.</p>
                <p>In <a href="/2016">2016</a> the festival moved to a new site with a bigger capacity and the total raised was a staggering <strong>£42,800</strong>!</p>
                <p>In <a href="/2017">2017</a> the festival moved again to a site large enough to facilitate car parking and camping alongside 4 stages and raised an immense £76,000.</p>
                <p>The festival has found it's home at Charisworth Farm in <a href="/2018">2018</a> raised a record £83,000, taking our total since the start to over quarter of a million pounds raised.</p>
                <p><em>All proceeds from Teddy Rocks Festival go to <a href="http://www.teddy20.org/">Teddy20</a></em></p>

                <blockquote>"It's amazing what we managed to achieve in just a few years, from raising £400 at a small gig to organising an awesome festival and raising over £250,000 so far. And it's all thanks to our generous and loyal supporters. Thanks to them, we've made a huge difference to hundreds of children's lives: because of their support, we're able to keep fighting children's cancer." <em style="display:block;text-align:right">- Tom Newton<br>Regional ITV Fundraiser Of The Year 2016<br>Wave 105 Cash For Kids Fundraiser Of The Year 2016</em></blockquote>
            </div>
        </div>
        <br>
        <div class="ytWrapper">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/gsh-7JuRfPI" frameborder="0" allowfullscreen></iframe>

        </div>

        <div class="row">
            <div class="col-md-4 images hidden-sm">

                <img src="/img/about/ted.png">

                <img src="/img/about/teddy-rocks-food-drink-900px.png">

                <img src="/img/about/teddy-rocks-highlights.png">

            </div>
            <div class="col-md-8 col-sm-12">


                <p class="heading">The Teddy 20 Charity</p>
                <p>In 2008 our youngest son, Ted, was diagnosed with a very rare form of bone cancer named Ewings Sarcoma. The shock of this diagnosis impacted all through our family and we embarked on what was to be the most harrowing and gruelling time of our lives. During the first few months, we were overwhelmed by the kindness, support and generosity of CLIC Sargent. Basically, they were there to pick up the pieces from day one and guide us through this turbulent time. </p>

                <p>In May 2009, Ted's dad, Owen, decided he wanted to give something back to the organisations that had helped Ted and the rest of the family. Owen has a cricket coaching background and decided to arrange a 20-20 cricket match in Ted's home town of Blandford. </p>
                <p>This evening proved to be such a success and with the help of some lovely local people organising raffles, prizes and baking cakes we were astonished to raise over £2,000. This gave us the idea along with Ted’s input to call the event ‘Teddy20’ which is a play on the cricket shorter game of twenty20. It seemed to lend itself very well to our little idea! This was to be the beginning of our journey into becoming our own Charitable organisation.</p>
                <p>Tragically, after an immense fight against the evil that is cancer Ted passed away peacefully in June 2010 at the tender age of 10.&nbsp;</p>
                <p>In May 2014 Teddy20 became a registered charity in England and Wales and continues to support children and young people with cancer.</p>
                <p class="subheading">Purpose and Vision</p>
                <div>The Charities purpose continues to provide financial and emotional support to children and families undergoing treatment for cancer.</div>
                <div>In the past year the charity has undertaken various fundraising activities involving local organisations and businesses so to help sustain and maintain our objectives in our region.</div>
                <div>&nbsp;</div>
                <div>Through working with the local communities we have been able to continue our support of children and young people by providing financial support to the families who may be struggling to meet the everyday demands of their child’s treatment. In addition, with our acquisition of a holiday home in Weymouth, Dorset the charity has been in a better position to provide continued emotional respite holiday breaks for families and their siblings away from hospitals and treatment. Thus spending important time together as a family and also importantly creating Family Memories.</div>
            </div>
        </div>
        <div class="container spotlight">
            <div class="row">
                <br><br>
                <p class="text-center">
                    <a class="btn btn-primary" href="/who-we-help">Who we help</a>
                    <a href="http://www.teddy20.org/teds-shack/" class="btn btn-external">Read about Ted's Shack</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer_js %}
  
{% endblock %}