{% extends "layout.html.twig" %}

{% block content %}
    <div class="container tickets">
        <h1 class="heading text-center">Tickets</h1>
        <div class="row row-centered">
            <h1 class="heading no-underline">Blandford Locals Discount Tickets</h1>
            <p>As a thank you for supporting Teddy Rocks Festival over the last few years, a limited number of day and weekend tickets have been released for permanent residents of Blandford. To purchase a local ticket, please visit The Greyhound pub in Blandford and bring photo ID and address confirmation. </p>
            <div class="col-md-4 col-sm-4 col-xs-12 col-centered">
                <a href="https://www.ticketmaster.co.uk/event/350054DAA3056CD3?did=uktr20off" class="ticket btn friday">
                    Camping & Arena
                </a>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 col-centered">
                <a href="https://www.ticketmaster.co.uk/event/350054DA9B74675C?did=uktr20off" class="ticket btn Saturday">
                    Quiet Camping & Arena
                </a>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 col-centered">
                <a href="https://www.ticketmaster.co.uk/event/350054DA9245592C?did=uktr20off" class="ticket btn Sunday  {% if date() < date('2018-12-17 09:00:00') %} offsale {% endif %}">
                    Arena Only
                    {% if date() < date('2018-12-17 09:00:00') %}<p style="font-size:0.5em">On sale at 9am Monday</p>{% endif %}
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 col-centered">
                <a href="https://www.ticketmaster.co.uk/event/3500558BA2111638?did=uktr20off" class="ticket btn extraday {% if date() < date('2018-12-17 09:00:00') %} offsale {% endif %}">
                    Friday Only
                    {% if date() < date('2018-12-17 09:00:00') %}<p style="font-size:0.5em">On sale at 9am Monday</p>{% endif %}
                </a>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 col-centered">
                <a href="https://www.ticketmaster.co.uk/event/3500558D8DAF1214?did=uktr20off" class="ticket btn weekend {% if date() < date('2018-12-17 09:00:00') %} offsale {% endif %}">
                    Saturday Only
                    {% if date() < date('2018-12-17 09:00:00') %}<p style="font-size:0.5em">On sale at 9am Monday</p>{% endif %}
                </a>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 col-centered">
                <a href=" https://www.ticketmaster.co.uk/event/3500558DD87F3BB3?did=uktr20off" class="ticket btn weekendcamping {% if date() < date('2018-12-17 09:00:00') %} offsale {% endif %}">
                    Sunday Only
                    {% if date() < date('2018-12-17 09:00:00') %}<p style="font-size:0.5em">On sale at 9am Monday</p>{% endif %}
                </a>
            </div>

        </div>
        <hr>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <p class="small"><a href="https://www.ticketmaster.co.uk/event/350054DAB0447340">Car Parking tickets</a> can be purchased online via TicketMaster alongside your entry tickets. These will also be available on the day if space permits on a first come first serve basis.</p>

                <p>We highly recommend using our <strong>shuttle bus</strong> service instead of driving to the festival.</p>
            </div>
        </div>
        <hr>

        <div class="row">
            {#<div class="col-md-4">#}
            {#<p class="heading">Online Booking</p>#}
            {#<p>The ticket price is inclusive of any applicable taxes and per ticket booking fee but exclusive of any per transaction fee. <br>The booking fee for each ticket type is 8% and postage fees are £2.20 per order, not per ticket.</p>#}
            {#<p>Tickets are also available on the gate.</p>#}
            {#</div>#}

            {#<div class="col-md-4">#}
            {#<p class="heading">One night camping</p>#}

            {#<p>One night camping is available on the day with non-camping ticket at an added cost of £10 per adult.</p>#}
            {#<p>One night campers will need to vacate the camping area by midday the following day</p>#}
            {#<p><a href="/info#camping" class="btn">Full Camping Information</a></p>#}
            {#</div>#}
        </div>
        <div class="row">
            <p class="heading">Refunds</p>
            <p><strong>Teddy Rocks Festival will go ahead come rain or shine! There is no refund or exchange available so please bring clothing/layers/jackets, etc. to cover all weather conditions.</strong></p>
            <p>Refunds are only considered on major cancellation, substantial alteration or by special exception determined by Teddy Rocks Festival. No refunds will be given for incorrectly booked tickets.</p>
            <p>Refunds should be obtained from the point of purchase, within 3 months of the event. A minimum of the face value of the ticket will then be refunded.</p>
            <p>Refunds of booking fees per ticket are subject to the terms and conditions of the point of sale.</p>
        </div>
    </div>

{% endblock %}
{% block footer_js %}

{% endblock %}