{% extends "layout.html.twig" %}

{% block content %}
    <div class="container tickets">

        <div class="col-md-8 col-md-offset-2">
            <h1 class="heading text-center">Tickets</h1>

            <p class="text-center">Tickets will be on sale from <b>Friday 5th October 2018</b></p>

            <p><img class="img-responsive bordered" src="/img/live-stages/stage1.jpg"></p>

            <p><a class="btn" href="/">Back to the Homepage</a></p>

            <br> <br> <br>
        </div>
    </div>

{% endblock %}
{% block footer_js %}

{% endblock %}