{% extends "layout.html.twig" %}

{% block content %}
    <div class="container tickets">
        <h1 class="heading text-center">Tickets</h1>

        <p class="heading no-underline text-center">Tickets are available on the gate</p>

        <div class="row row-centered">

            <div class="col-md-5 col-sm-6 col-xs-12 col-centered">
                <span class="ticket btn weekendcamping">
                    Weekend Camping £80.00<br><small>(Child £30.00)</small>
                </span>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12 col-centered">
                <span class="ticket btn weekend">
                    Weekend £60.00<br><small>(Child £30.00)</small>
                </span>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-md-4 col-sm-4 col-xs-12 col-centered">
                <span class="ticket btn friday">
                    Friday £20.00<br><small>(Child £11.00)</small>
                </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 col-centered">
                <span class="ticket btn Saturday">
                    Saturday £30.00<br><small>(Child £20.00)</small>
                </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 col-centered">
                <span class="ticket btn Sunday">
                    Sunday £30.00<br><small>(Child £20.00)</small>
                </span>
            </div>
        </div>
        <div class="row text-center">
            <br>
            <p>Child Tickets for ages 6-13 years. Children under 5 enter for free.</p>
            <p>'Weekend' tickets include Friday</p>
        </div>


        <div class="row">
            <div class="col-md-6">
                <p class="heading">Under 16s</p>
                <p>The main arena and the camping areas are over 16+ unless accompanied by an adult (over 21).</p>
                <p>If you are under 16 or attending with a child please read the terms and conditions.</p>
                <p><a class="btn" href="/info#conditions">Terms and Conditions</a></p>
            </div>
            <div class="col-md-6">
                <p class="heading">One night camping</p>

                <p>One night camping is available on the day with non-camping ticket at an added cost of £10 per adult.</p>
                <p>One night campers will need to vacate the camping area by midday the following day</p>
                <p><a href="/info#camping" class="btn">Full Camping Information</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="heading">Online Tickets</p>
                <p>
                    Online ticket sales ended 8am Friday 4th May.
                </p>
            </div>
            <div class="col-md-4">
                <p class="heading">Blandford Locals</p>
                <p>
                    Local discount sale has now ended.
                </p>
            </div>
            <div class="col-md-4">
                <p class="heading">Refunds</p>
                <p><strong>Teddy Rocks Festival will go ahead come rain or shine! There is no refund or exchange available so please bring clothing/layers/jackets, etc. to cover all weather conditions.</strong></p>
                <p>Refunds are only considered on major cancellation, substantial alteration or by special exception determined by Teddy Rocks Festival. No refunds will be given for incorrectly booked tickets.</p>
                <p>Refunds should be obtained from the point of purchase, within 3 months of the event. A minimum of the face value of the ticket will then be refunded.</p>
                <p>Refunds of booking fees per ticket are subject to the terms and conditions of the point of sale.</p>
            </div>

        </div>
    </div>

{% endblock %}
{% block footer_js %}
  
{% endblock %}