{% extends "layout.html.twig" %}

{% block content %}

    {% set topvideo = videos|first %}
    <div class="container mb40">
        <p id="video-title" class="heading no-underline">{{ topvideo.title }}</p>
        <iframe id="full-width-video" class="full-width-video mb40" width="223" height="150"
                src="https://www.youtube.com/embed/{{ topvideo.id }}?modestbranding=1&showsearch=0&showinfo=0&iv_load_policy=3"
                frameborder = "0" allowfullscreen >
        </iframe>
        <div>
            <div style="float:left; margin-right: 20px;margin-bottom: 20px;">
                <a target="_blank" rel="noopener" href="https://www.facebook.com/Forumfilmsprod/">
                    <img src="/img/sponsors/ff.png"><br><br>
                </a>
                <p>
                    <a target="_blank" rel="noopener" href="https://www.facebook.com/Forumfilmsprod/">Videos by Forum Films</a>
                </p>
            </div>
            <p class="video-description" id="video-description">
                {{ topvideo.description }}
            </p>
        </div>

    </div>
    <div class="gradient-bg">
        <div class="container mb40">
            {% for key, video in videos %}
                <img class="video-thumb {% if key == 0 %}active{% endif %}" src="{{ video.thumb }}" data-id="{{ video.id }}" data-title="{{ video.title }}" data-desc="{{ video.description }}"/>
            {% endfor %}

        </div>
    </div>
{% endblock %}
{% block footer_js %}
    <script>
        $('.video-thumb').click(function(){
            $('.video-thumb').removeClass('active');
            $(this).addClass('active');
            var id = $(this).data('id');
            var url = 'https://www.youtube.com/embed/'+id+'?modestbranding=1&showsearch=0&showinfo=0&iv_load_policy=3';
            $('#full-width-video').attr('src', url);
            $('#video-title').text($(this).data('title'));
            $('#video-description').text($(this).data('desc'));
        });
    </script>
{% endblock %}