{% extends "layout.html.twig" %}

{% block content %}
    <div class="gradient-bg">
        <div class="container volunteer">

            <h1 class="heading text-center">Volunteer at the festival</h1>

            <p>Are you over 18? Do you fancy volunteering for a great cause? Do you love wearing high-vis vests? If you're nodding enthusiastically, come and help out at Teddy Rocks. We're looking for people to guide our festival-goers from A to B, to help with bucket collections and to join our clearing-up crew. It'll look great on your CV and you can can feel fantastic for helping us to fight children's cancer!</p>
            <br>
        </div>
        <div class="volunteer clearfix">
            <img class="img-responsive" src="/img/volunteer1.jpg">
            <img class="img-responsive" src="/img/cta5.png">
            <img class="img-responsive" src="/img/volunteer2.jpg">
        </div>
        <div class="container volunteer">
            <br>

            <p>We'd like help with a mixture of</p>
            <br>

            <div class="row list">
                <div class="item col-xs-6 col-sm-4 col-md-3">Fencing</div>
                <div class="item col-xs-6 col-sm-4 col-md-3">Roadies</div>
                <div class="item col-xs-6 col-sm-4 col-md-3">Gate patrols</div>
                <div class="item col-xs-6 col-sm-4 col-md-3">Programme selling</div>
                <div class="item col-xs-6 col-sm-4 col-md-3">Litter picking</div>
                <div class="item col-xs-6 col-sm-4 col-md-3">Box office</div>
                <div class="item col-xs-6 col-sm-4 col-md-3">Runners</div>
                <div class="item col-xs-6 col-sm-4 col-md-3">Car park marshalling</div>
                <div class="item col-xs-6 col-sm-4 col-md-3">Crowd control</div>
                <div class="item col-xs-6 col-sm-4 col-md-3">Bucket collections</div>
                <div class="item col-xs-6 col-sm-4 col-md-3">Assisting ticket holders with disabilities</div>
                <div class="item col-xs-6 col-sm-4 col-md-3">General set up and pack down of the event</div>
            </div>
            <br>
            <p><em>Volunteers are required to give 6 hours a day in return for free entry for the rest of that day.</em></p>

            <p><em>Volunteers must be over 18, understand the spirit of the event and be willing to get their hands dirty!</em></p>


            <p class="text-center"><strong>To volunteer, email us at <a href="mailto:volunteer@teddyrocks.co.uk?subject=Volunteering%20at%20Teddy%20Rocks">volunteer@teddyrocks.co.uk</a></strong></p>
        </div>
    </div>
{% endblock %}
{% block footer_js %}
  
{% endblock %}