{% extends "layout.html.twig" %}

{% block header %}
    <link rel="stylesheet" href="/css/vendor/lightgallery.min.css">
{% endblock %}

{% block headerStyle %}
    background-image: url('/img/sections/toys_r_us.jpg'); background-size: cover;
{% endblock %}

{% block content %}
    <div class="gradient-bg">
        <div class="container spotlight">

            <p class="heading">Teddy20 Christmas Shop</p>
            <br/>
            <div class="row">
                <div class="col-md-6 text-left">
                    <p>Every year before Christmas, the Teddy20 charity head to Toys R Us in Poole to do a massive Christmas shop for the children at Southampton and Dorchester hospitals.</p>
                    <p>Our team of Teddy Rocks volunteers were there to help out, and Mr Bear was there too!</p>
                    <p>When he wasn't breaking the displays, or testing out the bicycles (in preparation for <a rel=”noopener noreferrer” target="_blank" href="http://www.teddy20.org/events/">Le Teddy Tour 2018</a>), he was helping us pick out gifts for the kids. We had a list of names, ages and special requirements to buy for - as well as making sure Mr Bear didn't spend all his time in the lego ilse!</p>
                    <p>Alongside the presents for the children, we are also providing a hamper for the nurses and hospital staff working over the Christmas period.</p>
                    <img src="/img/sections/toys_r_us.jpg" class="img-responsive bordered tilted">
                </div>
                 <div class="col-md-6">
                     {% include 'includes/gallery.html.twig' with {gallery: gallery1, id: 'toys-r-us', small: 'small'} %}
                 </div>
            </div>


            <p class="heading">Ted's Shack</p>

            <div class="text-left">
                <br/>
                <p>In 2015 Teddy20 were delighted to purchase a luxury 39ft static caravan in Bowleaze Cove, Weymouth. </p>

                <p>We wanted to offer a home from home holiday providing much needed breaks away from the hospital environment.  It is our aim to enable families going through this ordeal to spend quality time together and make precious memories.  For a brief time, the children can relax and forget all about hospital life.</p>

                <p>Here's just a few of the children we have been able to help, and their messages of thanks</p>
                <br/> <br/>
            </div>
            {% include 'includes/gallery.html.twig' with {gallery: gallery2, id: 'teds-shack'} %}

            <br><br>
            <p class="text-center">
                <a class="btn btn-primary" href="/story">Read Our Story</a>
                <a href="http://www.teddy20.org/teds-shack/" class="btn btn-external">Read about Ted's Shack</a>
            </p>
        </div>
    </div>
    <div class="container spotlight">
        <div class="row">

        </div>
    </div>
{% endblock %}
{% block footer_js %}
    <script src="/js/vendor/masonry.min.js"></script>
    <script src="/js/vendor/lightgallery.min.js"></script>
    <script src="/js/vendor/lg-fullscreen.min.js"></script>
    <script src="/js/vendor/lg-zoom.min.js"></script>
    <script src="/js/vendor/lg-hash.min.js"></script>
    <script src="/js/vendor/lg-share.min.js"></script>
    <script>

        $(document).load(function() {

            $("#gallery-toys-r-us").lightGallery({
                selector: '.swipebox',
                galleryId: 'gallery-toys-r-us'
            });

            $("#gallery-teds-shack").lightGallery({
                selector: '.swipebox',
                galleryId: 'gallery-teds-shack'
            });


            $('.masonry-container-toys-r-us').masonry({
                columnWidth: '.grid-sizer',
                itemSelector: '.item',
                percentPosition: true
            });

            $('.masonry-container-teds-shack').masonry({
                columnWidth: '.grid-sizer',
                itemSelector: '.item',
                percentPosition: true
            });
        });

    </script>

{% endblock %}