{% extends "layout.html.twig" %}

{% block header %}
    {% include 'includes/totaliser.html.twig' with {total: '400'} %}
{% endblock %}

{% block headerStyle %}
    background-image: url('/img/sections/2011.jpg')
{% endblock %}

{% block content %}

    <div class="container-fluid gradient-bg">

        <div class="tagline-top container mb40">
            <p class="heading no-underline">{{ year }}</p>
            <p>This is where it all started! A year after loosing Ted, the Teddy Rocks Festival began.</p>
            <p>The Greyhound, a Blandford pub, played host to our first music event to raised money to help the families of those affected by Cancer.</p>

            <p><em>Were you there with us at the beginning? We'd love to share more photos, videos and memories of our first gig!</em></p>

            <p><a class="btn btn-primary" href="mailto:chris@teddyrocks.co.uk">Send us your memories</a></p>

        </div>

        {% include 'includes/teddy20.html.twig' %}
    </div>
{% endblock %}

{% block footer_js %}
    <script src="{{ asset('homepage.js', 'js') }}"></script>
{% endblock %}