{% extends "layout.html.twig" %}

{% block header %}
    {% include 'includes/totaliser.html.twig' with {total: '2,900'} %}
{% endblock %}

{% block headerStyle %}
    background-image: url('/img/sections/2012.jpg')
{% endblock %}

{% block content %}

    <div class="container-fluid gradient-bg">

        <div class="container mb40">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <p class="heading no-underline">{{ year }}</p>
                    <p>2012's gig was held at the Corn Exchange in Blandford. </p>

                    <p><em>Did you get involved with our second event? We'd love to share more photos, videos and memories of this gig!</em></p>
                    <p><a class="btn btn-primary" href="mailto:chris@teddyrocks.co.uk">Send us your memories</a></p>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive bordered tilted" src="/img/2012a.jpg">
                </div>
            </div>
        </div>

        {% include 'includes/teddy20.html.twig' %}
    </div>
{% endblock %}

{% block footer_js %}
    <script src="{{ asset('homepage.js', 'js') }}"></script>
{% endblock %}