{% extends "layout.html.twig" %}

{% block header %}
    {% include 'includes/totaliser.html.twig' with {total: '9,400'} %}
{% endblock %}

{% block headerStyle %}
    background-image: url('/img/sections/2013.jpg')
{% endblock %}

{% block content %}

    <div class="container-fluid gradient-bg">
        <div class="container mb40">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <p class="heading no-underline">{{ year }}</p>
                    <p>This year we returned to The Greyhound, but having outgrown the small performing space inside we needed somewhere to perform outside.</p>
                    <p>A stage was built alongside the pub, with a second stage in the form of an acoustic tent and performances happening inside the pub too.</p>
                    <p>Alongside the music there was lots of fundraising from tattoos to head shaves and we were blessed with sunshine for the whole weekend too. </p>
                    <p><a class="btn btn-primary" href="/{{ year }}/gallery">Check out our {{ year }} gallery</a></p>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <img class="img-responsive bordered tilted" src="/img/posters/2013.jpg">
                </div>
            </div>
        </div>

        {% include 'includes/teddy20.html.twig' %}
    </div>
{% endblock %}

{% block footer_js %}
    <script src="{{ asset('homepage.js', 'js') }}"></script>
{% endblock %}