{% extends "layout.html.twig" %}

{% block header %}
    <video autoplay class="bg-video hidden-xs" loop muted>
        <source src="/gal/videos/2014.mp4" type="video/mp4">
    </video>

    {% include 'includes/totaliser.html.twig' with {total: '24,400'} %}
{% endblock %}

{% block headerStyle %}
    background-image: url('/img/sections/2014.jpg')
{% endblock %}

{% block content %}

    <div class="container-fluid gradient-bg">

        <div class="container mb40">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <p class="heading no-underline">{{ year }}</p>
                    <p>In the year that Teddy20 became a registered charity in England and Wales, Teddy Rocks became a 4 day festival. </p>
                    <p>This was also the year that Forum Films joined us to produce our "Rockumentary".</p>
                    <iframe class="archive-video-small bordered" src="https://www.youtube.com/embed/9x_npulu_k0" frameborder="0" allowfullscreen></iframe>
                    <p>Over 25 bands, some incredible tribute acts, and Ben Taylor dressed as Miley Cyrus! 2014 was a huge success!</p>
                    <p><a class="btn btn-primary" href="/{{ year }}/gallery">Check out our {{ year }} gallery</a></p>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <img class="img-responsive bordered tilted" src="/img/posters/2014.jpg">
                </div>
            </div>
        </div>

        {% include 'includes/teddy20.html.twig' %}
    </div>
{% endblock %}

{% block footer_js %}
    <script src="{{ asset('homepage.js', 'js') }}"></script>
{% endblock %}