{% extends "layout.html.twig" %}

{% block header %}
    <video autoplay class="bg-video hidden-xs" loop muted>
        <source src="/gal/videos/2015.mp4" type="video/mp4">
    </video>

    {% include 'includes/totaliser.html.twig' with {total: '48,400'} %}
{% endblock %}

{% block headerStyle %}
    background-image: url('/img/sections/2015.jpg')
{% endblock %}

{% block content %}

    <div class="container-fluid gradient-bg">

        <div class="container mb40">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <p class="heading no-underline">{{ year }}</p>
                    <p>We were incredibly proud to have our little festival opened by the mayor of the town. </p>
                    <p>This years event featured a host of special effects, including strobes, snow machines and event pyros.</p>
                    <p>The event was so popular we even sold out of cider!</p>
                    <iframe class="archive-video-small bordered" src="https://www.youtube.com/embed/GMbcLK9CR2Q" frameborder="0" allowfullscreen></iframe>
                    <p></p>

                    <p>
                        <a class="btn btn-primary" href="/{{ year }}/gallery">{{ year }} Gallery</a>
                        <a class="btn btn-primary" href="/{{ year }}/videos">{{ year }} Videos</a>
                    </p>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <img class="img-responsive bordered tilted" src="/img/posters/2015.jpg">
                </div>
            </div>
        </div>

        {% include 'includes/teddy20.html.twig' %}
    </div>
{% endblock %}

{% block footer_js %}
    <script src="{{ asset('homepage.js', 'js') }}"></script>
{% endblock %}