{% extends "layout.html.twig" %}

{% block header %}
    <video autoplay class="bg-video hidden-xs" loop muted>
        <source src="/gal/videos/2016.mp4" type="video/mp4">
    </video>

    {% include 'includes/totaliser.html.twig' with {total: '91,200'} %}
{% endblock %}

{% block headerStyle %}
    background-image: url('/img/sections/2016.jpg')
{% endblock %}

{% block content %}

    <div class="container-fluid gradient-bg">
        <div class="container mb40">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <p class="heading no-underline">{{ year }}</p>
                    <p>Having outgrown the space outside The Greyhound pub, Teddy Rocks Festival moved to a new site just across the bridge over the river Stour to Stour Meadows.</p>
                    <p>Headlines Hoosiers, Don Broco, Gentleman's Dub Club and From The Jam provided some real pedigree on stage alongside fantastic supports.</p>
                    <p>Having fenced off almost the whole meadow, the festival was filled all the pieces needed for a small festival, including a box office, toilet blocks, welfare and first aid tents, 3 stages, the massively popular 'TEDDY ROCKS' letters and of course, The Greyhound still with us running our beer tent.</p>
                    <iframe class="archive-video-small bordered" src="https://www.youtube.com/embed/N1SGO7NwiaE" frameborder="0" allowfullscreen></iframe>
                    <p>This was the first year that we had really encountered mud, with our volunteers giving every last ounce of strength to pull flight cases across the field and help push the vans and lorries out of the boggy land behind the main stage.</p>
                    <p>The festival was more successful than we could have ever imagined, and we even broke a world record!</p>

                    <p>
                        <a class="btn btn-primary" href="/{{ year }}/gallery">{{ year }} Gallery</a>
                        <a class="btn btn-primary" href="/{{ year }}/videos">{{ year }} Videos</a>
                    </p>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <img class="img-responsive bordered tilted" src="/img/posters/2016.png">
                </div>
            </div>
        </div>

        {% include 'includes/teddy20.html.twig' %}
    </div>
{% endblock %}

{% block footer_js %}
    <script src="{{ asset('homepage.js', 'js') }}"></script>
{% endblock %}