{% extends "layout.html.twig" %}

{% block header %}
    <video autoplay class="bg-video hidden-xs" loop muted>
        <source src="/gal/videos/2017.mp4" type="video/mp4">
    </video>

    {% include 'includes/totaliser.html.twig' with {total: '167,859'} %}
{% endblock %}

{% block content %}

    <div class="container-fluid gradient-bg">

        <div class="container mb40">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <p class="heading no-underline">{{ year }}</p>
                    <p>Last year's festival moved location again, this time to our new home at Charisworth Farm.</p>
                    <p>At 4 times the size, the new ground provided us space for festival camping and to add another stage too.</p>
                    <p>Headlines by the massive Twin Atlantic, Modestep and Scouting for Girls, the festival hit new records in turnout and the money raised was incredibly almost double of that the year before.</p>
                    <p>Responding to feedback from the festival's attendees, a family friendly environment was created with activities including go karts, face painting, climbing walls, a dodgeball/zorb arena, a bucking bronco and gladiator jousting.</p>
                    <p>Our brothers Teddy Raves also joined us this year with their own woodland silent disco rave.</p>
                    <p>This was also the year we introduced our one-of-a-kind interactive festival map - a mobile app to help visitors find their way around our new enormous grounds.</p>
                    <p>Now finally settled in our new home, 2018's event promises to be even bigger and even better.</p>

                    <p>
                        <a class="btn btn-primary" href="/{{ year }}/gallery">{{ year }} Gallery</a>
                        <a class="btn btn-primary" href="/{{ year }}/videos">{{ year }} Videos</a>
                    </p>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <img class="img-responsive bordered tilted" src="/img/posters/2017.jpg">
                </div>
            </div>
        </div>

        {% include 'includes/teddy20.html.twig' %}
    </div>
{% endblock %}

{% block footer_js %}
    <script src="{{ asset('homepage.js', 'js') }}"></script>
{% endblock %}