{% extends "layout.html.twig" %}

{% block header %}
    <video autoplay class="bg-video hidden-xs" loop muted>
        <source src="/gal/videos/2018.mp4" type="video/mp4">
    </video>

    {% include 'includes/totaliser.html.twig' with {total: '251,601'} %}
{% endblock %}

{% block content %}

    <div class="container-fluid gradient-bg">

        <div class="container mb40">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <p class="heading no-underline">{{ year }}</p>
                    <p>Finally settled at our home in Charisworth Farm, Teddy Rocks Festival 2018 was the biggest and best to date</p>
                    <p>90's powerhouses Feeder and Ash lead the lineup, but this year were joined by an incredible lineup throughout that included Eliza and the Bear, Mallory Knox, The Magic Numbers, InMe, Spector, Sonic Boom Six and MC Lars to name but a few.</p>

                    <p>A whopping £83,000 was raised to help fight children's cancer. <a target="_blank" href="https://www.clicsargent.org.uk/news/14-06-2018-blandford-charity-donates-%C2%A310000-new-home-from-home">A huge donation of £10,000 was given straight to CLIC Sargent South</a> to help buy a new <a href="https://www.clicsargent.org.uk/content/moving-house-southampton" target="_blank">'Home from home'</a> for the families of cancer patients.</p>

                    <p>Other areas the charity invests in include <a href="http://www.teddy20.org/teds-shack/" target="_blank">Ted's Shack</a>.</p>
                    <p>
                        <a class="btn btn-primary" href="/{{ year }}/gallery">{{ year }} Gallery</a>
                    </p>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <img class="img-responsive bordered tilted" src="/img/posters/2018.jpg">
                </div>
            </div>
        </div>

        {% include 'includes/teddy20.html.twig' %}
    </div>
{% endblock %}

{% block footer_js %}
    <script src="{{ asset('homepage.js', 'js') }}"></script>
{% endblock %}