<p class="heading">Ruh Roh!</p>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>Looks like we couldn't register you in our records.</p>
        <p><img class="img-responsive bordered" src="/img/sections/oops.jpg"></p>
        <p>It's likely we're aware of the problem, but it would be help us out if you could drop us a message and let us know who you are and that you weren't able to sign up.</p>
        <a class="btn" href="mailto:chris@teddyrocks.co.uk">Email Support</a>
        <p>Thank you.</p>
        <p>The Teddy Rocks web team</p>
    </div>
</div>