{% extends "layout.html.twig" %}

{% block headerStyle %}
        background-image: url('/img/sections/play.png'); background-size: cover;
{% endblock %}

{% block content %}
    <div class="gradient-bg">
        <div class="container mb40" xmlns="http://www.w3.org/1999/html">
            {% if error is defined %}
                {% include 'error.html.twig' %}
            {% else %}
                {% if complete is defined %}

                    <p class="heading">Thank you</p>
                    <br>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p>You have been registered for our list of artists to play at Teddy Rocks 2019.</p>
                            <p>We will be in contact later in the year if you have been selected for our shortlist.</p>
                            <p>There has already had an overwhelming number of applications to play at the festival, so unfortunately we are not able to reply to every application individually, but from the bottom our hearts we want to thank you for offering to be part of our festival.</p>
                            <br>
                            <p><img class="img-responsive bordered" src="/img/sections/thanks.jpg"></p>
                            <p>Thank you.</p>
                            <p>Tom & the Teddy Rocks team.</p>
                        </div>
                    </div>
                {% else %}
                    <p style="max-width: 800px;margin-left:auto;margin-right:auto">If you'd like to register your act for Teddy Rocks 2019, please fill out the form below. Our team will review the applications near the start of the festival and contact those who have caught the ear!</p>

                    <form class="signup-form col-md-8 col-md-offset-2" action="{{ path('post-play') }}" method="post">

                        <div class="form-group">
                            <label for="name">Artist name</label>
                            <input name="name" id="name" type="text" class="form-control" placeholder="What's your name" maxlength="50">
                        </div>

                        <div class="form-group">
                            <label for="location">Location</label>
                            <input name="location" id="location" type="text" class="form-control" placeholder="Where are you from?"  maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="genre1">Genres (max 3)</label>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input name="genre1" id="genre1" type="text" class="form-control" placeholder="Genre 1" maxlength="20">
                                </div>
                                <div class="col-sm-4">
                                    <input name="genre2" id="genre2" type="text" class="form-control" placeholder="Genre 2" maxlength="20">
                                </div>
                                <div class="col-sm-4">
                                    <input name="genre3" id="genre3" type="text" class="form-control" placeholder="Genre 3" maxlength="20">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="act_type" id="optionsRadios1" value="Original" checked>
                                    Original
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="act_type" id="optionsRadios2" value="Tribute">
                                    Tribute Act
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="link">Artist Website</label>
                            <input name="link" id="link" type="text" class="form-control" placeholder="http://" maxlength="200">
                        </div>

                        <div class="form-group">
                            <label for="musiclink">Music Link (soundcloud/bandcamp/youtube)</label>
                            <input name="musiclink" id="musiclink" type="text" class="form-control" placeholder="http://" maxlength="200">
                        </div>

                        <div class="form-group">
                            <label for="hook">What makes you stand out? <small>(280 Characters Max)</small></label>
                            <textarea name="hook" id="hook" class="form-control" maxlength="280"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="contactname">Contact name</label>
                            <input name="contactname" id="contactname" type="text" class="form-control" placeholder="" maxlength="50">
                        </div>

                        <div class="form-group">
                            <label for="contactemail">Contact Email Address</label>
                            <input name="contactemail" id="contactemail" type="text" class="form-control" placeholder="you@domain.com" maxlength="100">
                        </div>

                        <div class="form-group">
                            <label for="contactphone">Contact Phone Number</label>
                            <input name="contactphone" id="contactphone" type="text" class="form-control" placeholder="" maxlength="20">
                        </div>

                        <button type="submit" class="btn">Send</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block footer_js %}
{% endblock %}
