{% extends "layout.html.twig" %}

{% block headerStyle %}
        background-image: url('/img/sections/sponsor.png'); background-size: cover;
{% endblock %}

{% block content %}
    <div class="gradient-bg">
        <div class="container mb40" xmlns="http://www.w3.org/1999/html">
            {% if error is defined %}
                {% include 'error.html.twig' %}
            {% else %}
                {% if complete is defined %}
                    <p class="heading">Thank you</p>
                    <br>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p>We've added you to our list of interested sponsors for Teddy Rocks 2019.</p>
                            <p>We will be in touch soon to discuss details further.</p>
                            <p>There has already had an overwhelming number of sponsors for this years festival, so we apologies if we don't get back to you immediately, but from the bottom our hearts we want to thank you for helping our festival.</p>
                            <br>
                            <p><img class="img-responsive bordered" src="/img/sections/thanks.jpg"></p>
                            <p>Thank you.</p>
                            <p>Tom & the Teddy Rocks team.</p>
                        </div>
                    </div>
                {% else %}
                    <p class="heading">Sponsor Teddy Rocks Festival 2019</p>

                    <div class="row">
                        <div class="text-left col-md-6">

                            <p>Our sponsors and partners are simply vital to the success of the festival.</p>

                            <p>Together we can provide the community a weekend of entertainment, bringing
                                together all ages and backgrounds through a love of music and drive to provide
                                emotional support to children and families undergoing treatment for cancer and
                                finanical support for those struggling to meet the costs of their child’s treatment.</p>

                            <p>Our plan is very simple, to cover every single cost through sponsorship. This means
                                that if we cover all the costs, everything the event makes can go straight to Teddy20
                                our fully registered Children’s Cancer Charity. Not only is this a good deed from
                                yourself or business, it is a fantastic PR opportunity and an event that can give a
                                huge amount of coverage and positive press towards your company.</p>

                            <p>In return for sponsoring the festival, we can offer you space to advertise your business.</p>

                            <br>
                        </div>
                        <div class="col-md-6">

                            <form class="signup-form newsstrap" action="{{ path('post-sponsor') }}" method="post">
                                <div class="form-group text-left ">
                                    <label for="contactname">Your Name</label>
                                    <input name="contactname" id="contactname" type="text" class="form-control" placeholder="" maxlength="50">
                                </div>

                                <div class="form-group text-left ">
                                    <label for="contactemail">Contact Email Address</label>
                                    <input name="contactemail" id="contactemail" type="text" class="form-control" placeholder="you@domain.com" maxlength="100">
                                </div>

                                <div class="form-group text-left ">
                                    <label for="contactphone">Contact Phone Number</label>
                                    <input name="contactphone" id="contactphone" type="text" class="form-control" placeholder="" maxlength="20">
                                </div>

                                <div class="form-group text-left ">
                                    <label for="message">Message</label>
                                    <textarea name="message" id="message" type="text" class="form-control" placeholder="" rows="7"></textarea>
                                </div>

                                <button type="submit" class="btn">Send</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block footer_js %}
{% endblock %}