{% extends "layout.html.twig" %}

{% block headerStyle %}
        background-image: url('/img/sections/trade.png'); background-size: cover;
{% endblock %}

{% block content %}
    <div class="gradient-bg">
        <div class="container mb40" xmlns="http://www.w3.org/1999/html">
            {% if error is defined %}
                {% include 'error.html.twig' %}
            {% else %}
                {% if complete is defined %}

                    <p class="heading">Thank you</p>
                    <br>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p>You have been registered for our shortlist of traders for Teddy Rocks 2019.</p>
                            <p>We will hopefully be in touch soon to discuss details further.</p>
                            <p>There has already had an overwhelming number of applications to trade at this years festival, so unfortunately we may not be able to reply to every application in person, but from the bottom our hearts we want to thank you for wanting to be part of our festival.</p>
                            <br>
                            <p><img class="img-responsive bordered" src="/img/sections/thanks.jpg"></p>
                            <p>Thank you.</p>
                            <p>Tom & the Teddy Rocks team.</p>
                        </div>
                    </div>
                {% else %}
                    <p class="heading">Trade at Teddy Rocks Festival 2019</p>

                    <form class="signup-form col-md-8 col-md-offset-2" action="{{ path('post-trade') }}" method="post">

                        <div class="form-group">
                            <label for="tradername">Trader Name</label>
                            <input name="tradername" id="tradername" type="text" class="form-control" placeholder="" maxlength="50">
                        </div>

                        <div class="form-group">
                            <label for="about">What do you trade</label>
                            <textarea name="about" id="about" class="form-control" maxlength="1000"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="contactname">Your Name</label>
                            <input name="contactname" id="contactname" type="text" class="form-control" placeholder="" maxlength="50">
                        </div>

                        <div class="form-group">
                            <label for="contactemail">Contact Email Address</label>
                            <input name="contactemail" id="contactemail" type="text" class="form-control" placeholder="you@domain.com" maxlength="100">
                        </div>

                        <div class="form-group">
                            <label for="contactphone">Contact Phone Number</label>
                            <input name="contactphone" id="contactphone" type="text" class="form-control" placeholder="" maxlength="20">
                        </div>

                        <div class="form-group">
                            <label for="requirements">Requirements <small>Please let us know of any requirements you would need.</small></label>
                            <textarea name="requirements" id="requirements" class="form-control" maxlength="1000"></textarea>
                        </div>

                        <button type="submit" class="btn">Send</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block footer_js %}
{% endblock %}