{% extends "layout.html.twig" %}

{% block headerStyle %}
        background-image: url('/img/sections/volunteer.png'); background-size: cover;
{% endblock %}

{% block content %}
    <div class="gradient-bg">
        <div class="container mb40" xmlns="http://www.w3.org/1999/html">
            {% if error is defined %}
                {% include 'error.html.twig' %}
            {% else %}
                {% if complete is defined %}

                    <p class="heading">Thank you</p>
                    <br>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p>You have been registered for our list of volunteers to help at Teddy Rocks 2019.</p>
                            <p>We should be in contact in the next few months with how you can help.</p>
                            <p>There has already had an overwhelming number of applications to volunteer at this years festival, so unfortunately we may not be able to reply to every application in person, but from the bottom our hearts we want to thank you for offering to help our festival.</p>
                            <br>
                            <p><img class="img-responsive bordered" src="/img/sections/thanks.jpg"></p>
                            <p>Thank you.</p>
                            <p>Tom & the Teddy Rocks team.</p>
                        </div>
                    </div>
                {% else %}
                    <p class="heading">Volunteer to help at Teddy Rocks Festival 2019</p>

                    <p>Are you over 18? Do you fancy volunteering for a great cause? <br/>Do you love wearing high-vis vests? If you're nodding enthusiastically, come and help out at Teddy Rocks. </p>
                    <p>We're looking for people to guide our festival-goers from A to B, to help with bucket collections and to join our clearing-up crew.<br> It'll look great on your CV and you can can feel fantastic for helping us to fight children's cancer!</p>
                    <br/>
                    <p>Here's a list of some of the ways you could be asked to help us out:</p>
                    <br/>
                    <div class="row list">
                        <div class="item col-xs-6 col-sm-4 col-md-3">Fencing</div>
                        <div class="item col-xs-6 col-sm-4 col-md-3">Roadies</div>
                        <div class="item col-xs-6 col-sm-4 col-md-3">Gate patrols</div>
                        <div class="item col-xs-6 col-sm-4 col-md-3">Programme selling</div>
                        <div class="item col-xs-6 col-sm-4 col-md-3">Litter picking</div>
                        <div class="item col-xs-6 col-sm-4 col-md-3">Box office</div>
                        <div class="item col-xs-6 col-sm-4 col-md-3">Runners</div>
                        <div class="item col-xs-6 col-sm-4 col-md-3">Car park marshalling</div>
                        <div class="item col-xs-6 col-sm-4 col-md-3">Crowd control</div>
                        <div class="item col-xs-6 col-sm-4 col-md-3">Bucket collections</div>
                        <div class="item col-xs-6 col-sm-4 col-md-3">Assisting ticket holders with disabilities</div>
                        <div class="item col-xs-6 col-sm-4 col-md-3">General set up and pack down of the event</div>
                    </div>

                    <form class="signup-form col-md-8 col-md-offset-2" action="{{ path('post-volunteer') }}" method="post">

                        <div class="form-group">
                            <label for="contactname">Your Name</label>
                            <input name="contactname" id="contactname" type="text" class="form-control" placeholder="" maxlength="50">
                        </div>

                        <div class="form-group">
                            <label for="contactemail">Contact Email Address</label>
                            <input name="contactemail" id="contactemail" type="text" class="form-control" placeholder="you@domain.com" maxlength="100">
                        </div>

                        <div class="form-group">
                            <label for="contactphone">Contact Phone Number</label>
                            <input name="contactphone" id="contactphone" type="text" class="form-control" placeholder="" maxlength="20">
                        </div>

                        <div class="form-group">
                            <label for="support_details">Medical / Support Needs <small>Please list any information which may be important</small></label>
                            <textarea name="support_details" id="support_details" class="form-control" maxlength="1000"></textarea>
                        </div>

                        <p><strong>Volunteers are required to give 6 hours a day in return for free entry for the rest of that day.</strong></p>

                        <p><strong>Volunteers must be over 18, understand the spirit of the event and be willing to get their hands dirty!</strong></p>

                        <button type="submit" class="btn">Send</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block footer_js %}
{% endblock %}